{% extends "flutype/base.html" %}
{% load static %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <h1>Entwicklung einer peptidbasierten Subtypisierungsplattform für Influenzaviren (FluType)</h1>
                <p>Das Influenzavirus verursacht jährlich wiederkehrende Grippewellen und in größeren Zeitabständen
                    schwerwiegende Pandemien. Der einzig wirksame kosteneffektive Schutz vor einer Grippeerkrankung ist
                    die Impfung. Da das Virus sich sehr schnell verändert (mutiert) treten immer wieder neue Varianten,
                    sog. Subtypen auf, gegen die mittels Impfung neu immunisiert werden muss. Für eine korrekte
                    Impfempfehlung müssen die zirkulierenden Influenzastämme zeitnah und exakt erfasst werden.
                </p>
                <p>Das dafür notwendige Monitoring der auftretenden Subtypen wird von nationalen Referenzlaboren im
                    Rahmen des globalen Influenza-Überwachungsnetzwerkes der WHO (Global Influenza Surveillance and
                    Response System, GISRS) durchgeführt. Dazu werden jedes Jahr Tausende von Viren aus Patientenproben
                    isoliert und analysiert. Diese Analyse beinhaltet derzeit aufwendige und zeitintensive Tierversuche
                    zur Erzeugung von spezifischen Hyperimmunseren in Frettchen, die für die Bestimmung der Subtypen von
                    zirkulierenden Virusstämmen erforderlich sind. Diese Versuche sind außerdem nur schlecht
                    standardisier- und reproduzierbar, was die Aussagekraft der Ergebnisse einschränkt.
                </p>
                <img src="{% static "flutype/images/info_about.jpg" %}" align="left" width="400"/>
                <p> An der Universität Potsdam und dem Fraunhofer IZI-BB wurde ein neuartiges Testsystem zur
                    Influenzavirus-Subtypisierung entwickelt, welches nun hinsichtlich seiner Anwendbarkeit
                    validiert werden soll. Wie in der Abbildung dargestellt, erfolgt die Differenzierung der
                    Viren mittels eines Sets von innovativen Erkennungsmolekülen (Peptiden) mit H7N1 H5N1
                    denen die unterschiedlichen Influenzavirus-Subtypen unterschiedlich wechselwirken (i).
                    Durch diese Wechselwirkung entstehen spezifische Bindungsmuster, anhand derer die Viren
                    schließlich unterschieden bzw. subtypisiert werden (ii).
                </p>

                <p> Mit Hilfe dieses Verfahren kann
                    die Subtypisierung stark vereinfacht und beschleunigt werden, was schließlich zu einer besseren
                    Empfehlungsgrundlage hinsichtlich der Impfstoffzusammensetzung, und damit zu einem effektiveren
                    Schutz der Bevölkerung führt. Darüber hinaus kann durch die Substitution der bestehenden
                    Analyseverfahren auf die Tötung mehrerer Tausend Frettchen jährlich verzichtet werden. Das
                    Testsystem wird so gestaltet, dass eine sichere Differenzierung zwischen allen relevanten
                    zirkulierenden Influenzastämmen der letzten 10 Jahre möglich wird, um zunächst das Monitoring in
                    Referenzlaboren zu ermöglichen. Weitere Vorteile des innovativen Testsystems sind: i) zeitnahes
                    Influenzamonitoring, ii) leichte Standardisierbarkeit, iii) hohe Reproduzierbarkeit, was schließlich
                    zu einer verbesserten Impfempfehlung führt. Mittelfristig werden weitere Anwendungsoptionen in der
                    Tiergesundheit und Individualdiagnostik adressiert.
                </p>
                <p>
                    Die hochinnovative Plattformtechnologie wird von der Universität Potsdam und dem Fraunhofer IZI-BB
                    validiert, welche über die notwendigen Kompetenzen und Ressourcen zum Transfer der erbrachten
                    Forschungsergebnisse im Bereich Assay-Development verfügen. Als weiterer Partner im Projekt ist das
                    Robert Koch-Institut beteiligt, dass das deutsche Referenzzentrum für Influenza ist. Dadurch ist
                    eine angepasste Validierung hinsichtlich der Anforderungen der Endanwender sichergestellt. Die
                    wirtschaftliche Verwertung soll im Anschluss durch Auslizenzierung erfolgen.
                </p>
            </div>
            <div class="col-lg-4 ">

            </div>

        </div>
    </div>
{% endblock %}

