{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">
        <h1><i class="fa f-fw fa-hand-spock-o"></i> Antibodies
        {% if type == "fixed" %}
            (Fixed)
        {% elif type == "mobile" %}
            (Mobile)
        {% endif %}
        <a href="{{ url('antibody_new') }}" class="btn btn-default" title="Add new antibody">
        <span class="fa fa-plus-circle fa-3x text-success"></span></a>
        </h1>

        {% if antibodies %}
            <table id="antibodies" class="table table-striped">
                <thead>
                <tr>
                    <th>sid</th>
                    <th>target</th>
                    <th>name</th>
                    <th>database link</th>
                    <th>comment</th>
                </tr>
                </thead>
                <tbody>
                {% for antibody in antibodies %}
                    <tr>
                        <td><b>{{ antibody.sid }}</b></td>
                        <td>{{ antibody.target }}</td>
                        <td>{{ antibody.name }}</td>
                        <td>{{ antibody.link_db }}</td>
                        <td>{{ antibody.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No entries in database.</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#antibodies').DataTable();
        });
    </script>
{% endblock %}