<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FluTypeDB">
    <meta name="author" content="Janek Grzegorzewski and Matthias Koenig">
    <link rel="icon" href="{{static('flutype/images/flutype.ico')}}"/>
    <title>FluTypeDB</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ static ('flutype/css/submenu.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static ('flutype/css/dropzone.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static ('flutype/css/dropzone.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static ('flutype/css/Butler_Stencil_Webfont/stylesheet.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ static ('flutype/css/basic.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static ('flutype/css/basic.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ static('flutype/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('flutype/js/datatables.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ static('winmarkltd-BootstrapFormHelpers-d4201db/dist/css/bootstrap-formhelpers.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('flutype/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('flutype/css/grid.css') }}"/>

    <script type="text/javascript" src="{{ static('flutype/js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('flutype/js/tether-1.4.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('flutype/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('flutype/js/datatables-1.10.15.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('flutype/js/jquery.formset.js') }}"></script>
    <script type="text/javascript" src="{{ static('flutype/js/dropzone.js')}}"></script>
    <script type="text/javascript"
            src="{{ static('winmarkltd-BootstrapFormHelpers-d4201db/dist/js/bootstrap-formhelpers.min.js') }}"></script>

    <!-- HEAD -->
    {% block head %}{% endblock %}

</head>
<body>
<nav id = "main-navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="nav navbar-nav" href="{{ url('index')}}">
                <img style="width:50px" src="{{static('flutype/images/flutype-logo.png')}}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-braille"></i> Experiments<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('index') }}" title="All studies"><i class="fa fa-fw fa-braille"></i> Studies</a></li>
                                <li><a href="{{ url('measurements') }}" title="All measurements"><i class="fa fa-fw fa-building"></i> Measurements</a></li>
                            </ul>
                    </li>
                    <li class="dropdown active">
                        <a  class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-certificate"></i> Ligands<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('antibodies') }}" title="All antibodies"><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies</a></li>
                            <li><a href="{{ url('peptides') }}" title="All peptides"><i class="fa fa-fw fa-server"></i> Peptides</a></li>
                            <li><a href="{{ url('viruses') }}" title="All viruses"><i class="fa fa-fw fa-asterisk"></i> Virus</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url('complexes') }}"title="All ligands which build a complex of any of the existing ligands">Complex</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-fw fa-anchor"> </i> Fixed</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url('antibodies_fixed') }}" title="all antibodies which have been used during spotting or imobilization"><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies</a></li>
                                    <li><a href="{{ url('peptides_fixed') }}" title="all peptides which have been used during spotting or imobilization"><i class="fa fa-fw fa-server"></i> Peptides</a></li>
                                    <li><a href="{{ url('viruses_fixed') }}" title="all viruses which have been used during spotting or imobilization"><i class="fa fa-fw fa-asterisk"></i> Virus</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url('complexes_fixed') }}" title="all complexes which have been used during spotting or imobilization">Complex</a></li>
                                </ul>
                            </li>
                             <li class="dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-fw fa-tint"></i> Analyte</a>
                                 <ul class="dropdown-menu">
                                    <li><a href="{{ url('antibodies_mobile') }}" title="all antibodies which have been used during analyte incubation"><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies</a></li>
                                    <li><a href="{{ url('peptides_mobile') }}" title="all peptides which have been used during analyte incubation"><i class="fa fa-fw fa-server"></i> Peptides</a></li>
                                    <li><a href="{{ url('viruses_mobile') }}" title="all viruses which have been used during analyte incubation"><i class="fa fa-fw fa-asterisk"></i> Virus</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url('complexes_mobile') }}" title="all complexes which have been used during analyte incubation">Complex</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-flask" aria-hidden="true"></i> Batches<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('antibodybatches') }}" title="all antibody batches"><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies</a></li>
                        <li><a href="{{ url('peptidebatches') }}" title="all peptide batches"><i class="fa fa-fw fa-server"></i> Peptides</a></li>
                        <li><a href="{{ url('virusbatches') }}" title="all virus batches"><i class="fa fa-fw fa-asterisk"></i> Virus</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url('complexbatches') }}" title="all complex batches">Complex</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                 <i class="fa fa-fw fa-anchor"></i> Fixed </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('antibodybatches_fixed') }}" title="all antibody batches which have been used during spotting or imobilization"><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies</a></li>
                                <li><a href="{{ url('peptidebatches_fixed') }}" title="all peptide batches which have been used during spotting or imobilization"><i class="fa fa-fw fa-server"></i> Peptides</a></li>
                                <li><a href="{{ url('virusbatches_fixed') }}" title="all virus batches which have been used during spotting or imobilization"><i class="fa fa-fw fa-asterisk"></i> Virus</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url('complexbatches_fixed') }}" title="all complex batches which have been used during spotting or imobilization">Complex</a></li>
                            </ul>
                        </li>
                         <li class="dropdown-submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-fw fa-tint"></i> Analyte</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('antibodybatches_mobile') }}" title="all antibody batches which have been used during analyte incubation"><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies</a></li>
                                <li><a href="{{ url('peptidebatches_mobile') }}" title="all peptide batches which have been used during analyte incubation"><i class="fa fa-fw fa-server"></i> Peptides</a></li>
                                <li><a href="{{ url('virusbatches_mobile') }}" title="all virus batches which have been used during analyte incubation"><i class="fa fa-fw fa-asterisk"></i> Virus</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url('complexbatches_mobile') }}" title="all complex batches which have been used during analyte incubation"> Complex </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                    <li class="dropdown active">
                        <a data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-fw fa-magic" aria-hidden="true"></i> Processes<span class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url('processes')}}" title="unique sequence of process steps">
                                <i class="fa fa-fw fa-magic"></i> Processes<span class="sr-only">(current)</span></a>
                            </li>
                            <li><a href="{{ url('steps') }}" title="all process steps">
                                <i class="fa fa-fw fa-paw"></i> Process Steps<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="active"><a href="{{ url('users') }}"title="all allowed users in the database">
                        <i class="fa fa-fw fa-group"></i> Users<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="dropdown active">
                        <a data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-fw fa-question"></i> Help<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url('tutorial') }}" title="Tutorial on how to upload data">Tutorial <span class="sr-only">(current)
                                 <li> <a href="{{ url("tutorial_db")}}" title="Tutorial dataset in database">Tutorial Data <span class="sr-only">(current)
                             </span></a></li>
                        </ul>
                    </li>

                {% endif %}
                <li class="active"><a href="{{ url('about') }}" title="A description of this project"><i class="fa fa-info fa-fw"></i> About <span
                        class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown active">
                        <a data-toggle="dropdown" role="button" aria-expanded="false"><i
                                class="fa fa-fw fa-user"></i> {{ request.user.get_username() }} <span
                                class="caret"></span> </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url('my_studies') }}" title="studies which contain a measurement in which you participated."> <i class="fa fa-fw fa-user" aria-hidden="true"></i> My
                                Studies </a></li>
                            <li><a href="{{ url('my_measurements') }}" title="measurement which were performed by you. Thus, you are named as the user during any of the process steps. " > <i class="fa fa-fw fa-user" aria-hidden="true"></i> My
                                Measurements </a></li>
                            <li class="divider"></li>

                            <li><a href="{{ url('change_password') }}" title="change your password"> <i class="fa fa-fw fa-key"></i> Change Password </a>
                            </li>
                            <li><a href="{{ url('logout') }}?next={{ request.path }}" title="log out from this web side"> <i
                                    class="fa fa-fw fa-sign-out"> </i> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="active"><a href="{{ url('login') }}?next={{ request.path }}" title="login to get access to the database"><i
                            class="fa fa-fw fa-sign-in"></i> Login</a></li>
                {% endif %}
                <li class="active"><a href="http://cloud.flutype.de/owncloud" title="a cloud with the underlying data for this database"><i class="fa fa-fw fa-cloud"></i>
                    Cloud</a>
                <li class="active"><a href="https://github.com/janekg89/flutype_webapp"title="the code for the web application on Github">
                <i class="fa fa-fw fa-github"></i> Github</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="wrapper">
    <div id="page-wrapper">

        <div class="container">
            <!-- CONTENT -->
            {% block content %}{% endblock %}

            <!-- END CONTENT -->
        </div>

            <!-- FOOTER -->
            <div class="row">
                <div class="col-lg-12">
                    <hr/>
                    <p>&copy; 2017 FluType</p>
            </div>
            <!-- END FOOTER -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<script>
 $(window).resize(function () {
   $('body').css('padding-top', parseInt($('#main-navbar').css("height"))+10);
});

$(window).load(function () {
   $('body').css('padding-top', parseInt($('#main-navbar').css("height"))+10);
});

</script>

{% block javascript %}{% endblock %}
</body>
</html>
