{% if buffers %}
    <table id="{{ id_buffers_table }}"
            class="table table-striped"
            data-toggle="table"
            data-pagination="true"
            data-search="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-toolbar="#toolbar">
        <thead>
        <tr>
            {% if request.user.is_superuser %}<th></th>{% endif %}
            <th>sid</th>
            <th>name</th>
            <th>comment</th>
            {% if request.user.is_superuser %}<th></th>{% endif %}

        </tr>
        </thead>
        <tbody>
        {% for buffer in buffers %}
            <tr>
                {% if request.user.is_superuser %}<td>
                    <a href="{{ url('buffer_edit', args=[buffer.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                </td>{% endif %}
                <td><b>{{ buffer.sid }}</b></td>
                <td>{{ buffer.name }}</td>
                <td>{{ buffer.comment }}</td>
                {% if request.user.is_superuser %}<td class="alert-danger">
                    <a href="{{ url('buffer_delete', args=[buffer.sid]) }}"><i class="fa fa-fw fa-trash"></i></a>
                 </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries in database.</p>
{% endif %}