{% if buffers %}
    <table id="{{ id_buffers_table }}" class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>sid</th>
            <th>name</th>
            <th>comment</th>
        </tr>
        </thead>
        <tbody>
        {% for buffer in buffers %}
            <tr>
                <td>{% if request.user.is_superuser %}
                    <a href="{{ url('buffer_edit', args=[buffer.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                {% endif %}</td>
                <td><b>{{ buffer.sid }}</b></td>
                <td>{{ buffer.name }}</td>
                <td>{{ buffer.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries in database.</p>
{% endif %}