{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">
        <h1><i class="fa fa-fw fa-circle-o-notch"></i> Buffer
        <a href="{{ url('buffer_new') }}" class="btn btn-default" title="Add new buffer">
        <span class="fa fa-plus-circle fa-3x text-success"></span></a>
        </h1>

        {% with id_buffer_table = "buffer" %}
            {% include "flutype/buffers_table.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#buffer').DataTable();
        });
    </script>
{% endblock %}