{% if buffer_batches %}
            <table id="{{ id_bufferbatches_table }}"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-toolbar="#toolbar"
                   >
                <thead>
                <tr>
                    {% if type == "gal_file" %}  <th data-field="state" data-checkbox="true"></th>{% endif %}
                    {% if request.user.is_superuser %}<th></th>{%  endif %}
                    <th  data-sortable="true" data-field="sid">sid batch</th>
                    <th  data-sortable="true">sid buffer</th>
                    <th  data-sortable="true">name buffer</th>
                    <th  data-sortable="true">comment buffer</th>
                    <th  data-sortable="true">pH</th>
                    <th  data-sortable="true">produced by</th>
                    <th  data-sortable="true">production date</th>
                    <th  data-sortable="true">comment</th>
                    {% if request.user.is_superuser %}<th></th>{%  endif %}

                </tr>
                </thead>
                <tbody>
                {% for bufferbatch in buffer_batches.all() %}
                    <tr>
                        {% if type == "gal_file" %}  <td></td>{% endif %}
                        {% if request.user.is_superuser %}<td>
                            <a href="{{ url('buffer_batch_edit', args=[bufferbatch.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                        </td>{% endif %}
                        <td><b>{{ bufferbatch.sid }}</b></td>
                        <!-- buffer information -->

                        {% with b=bufferbatch.buffer %}
                            {% if b %}
                            <td class="info">{{ b.sid }}</td>
                            <td class="info">{{ b.name }}</td>
                            <td class="info">{{ b.comment }}</td>
                            {% else %} <td class="info"> - </td>
                            <td class="info"> - </td>
                            <td class="info"> - </td> {% endif %}
                        {% endwith %}
                        <!-- batch information -->
                        <td>{{ bufferbatch.ph }}</td>
                        <td>{{ bufferbatch.produced_by }}</td>
                        <td>{{ bufferbatch.production_date }}</td>
                        <td>{{ bufferbatch.comment }}</td>
                    {% if request.user.is_superuser %}<td class="alert-danger">
                        <a href="{{ url('buffer_batch_delete', args=[bufferbatch.sid]) }}"><i class="fa fa-fw fa-trash"></i></a>
                     </td>{%  endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No entries in database.</p>
        {% endif %}