{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">

        <h1>Complex Batches
        {% if type == "fixed" %}
            (Fixed)
        {% elif type == "mobile" %}
            (Mobile)
        {% endif %}
        <i class="fa fa-fw fa-flask"></i>
        <a href="{{  url('new_ligandbatch', args=["ComplexBatch"]) }}" class="btn btn-default" title="Add new complex batch">
        <span class="fa fa-plus-circle fa-3x text-success"></span></a>
        </h1>

        {% with id_complexbatches_table = "batches" %}
            {% include "flutype/complexbatches_table.html" %}
        {% endwith %}

    </div>
{% endblock %}

{% block javascript %}

{% endblock %}