{% extends "flutype/base.html" %}
{% block content %}
        <div class="standard">

            <h1>Complexes
            {% if type == "fixed" %}
                (Fixed)
            {% elif type == "mobile" %}
                (Mobile)
            {% endif %}
            <a href="{{  url('new', args=["Complex"]) }}" class="btn btn-default" title="Add new complex">
            <span class="fa fa-plus-circle fa-3x text-success"></span></a>
            </h1>

            {% if complexes %}
                <table id="complexes"
                        class="table table-striped"
                        data-toggle="table"
                        data-pagination="true"
                        data-search="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-toolbar="#toolbar">
                    <thead>
                    <tr>
                        {% if request.user.is_superuser %}<th></th>{% endif %}
                        <th>sid</th>
                        <th>ligands</th>
                        <th>comment</th>
                        {% if request.user.is_superuser %}<th></th>{% endif %}

                    </tr>
                    </thead>
                    <tbody>
                    {% for c in complexes.all() %}
                        <tr>
                           {% if request.user.is_superuser %} <td>
                    <a href="{{ url('edit', args=[c.__class__.__name__,c.pk]) }}"><i class="fa fa-fw fa-edit"></i></a>
                </td>{%  endif %}
                            <td><b> {{ c.sid }}</b></td>
                            <td>
                             {% for l in c.complex_ligands.all() %}
                                 {{ l.sid }}<br />
                             {% endfor %}
                            </td>
                            <td>{{ c.comment }}</td>
                        {% if request.user.is_superuser %}<td class="alert-danger">
                    <a href="{{ url('delete', args=[c.__class__.__name__,c.pk]) }}"><i class="fa fa-fw fa-trash"></i></a>
                 </td>{% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#complexes').bootstrapTable({});
        });

    </script>
{% endblock %}