{% extends "flutype/base.html" %}
{% block content %}
        <div class="standard">

            <h1>Complexes
            {% if type == "fixed" %}
                (Fixed)
            {% elif type == "mobile" %}
                (Mobile)
            {% endif %}
            <a href="{{ url('complex_new') }}" class="btn btn-default" title="Add new complex">
            <span class="fa fa-plus-circle fa-3x text-success"></span></a>
            </h1>

            {% if complexes %}
                <table id="complexes" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>sid</th>
                        <th>ligands</th>
                        <th>comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in complexes.all() %}
                        <tr>
                            <td>{% if request.user.is_superuser %}
                    <a href="{{ url('complex_edit', args=[c.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                {%  endif %}</td>
                            <td><b> {{ c.sid }}</b></td>
                            <td>
                             {% for l in c.complex_ligands.all() %}
                                 {{ l.sid }}<br />
                             {% endfor %}
                            </td>
                            <td>{{ c.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#complexes').DataTable({});
        });

    </script>
{% endblock %}