{% if complex_batches %}
            <table id="{{ id_complexbatches_table }}"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-toolbar="#toolbar">
                <thead>
                <tr>
                    {% if type == "gal_file" %}  <th data-field="state" data-checkbox="true"></th>{% endif %}
                    {% if request.user.is_superuser %}<th></th>{%  endif %}
                    <th data-field="sid">sid batch</th>
                    <!-- ligand information -->
                    <th>sid complex</th>
                    <th>ligands</th>
                    <!-- batch information -->
                    <th data-sortable="true">concentration</th>
                    <th data-sortable="true">buffer</th>
                    <th data-sortable="true">pH</th>
                    <th data-sortable="true">purity</th>
                    <th data-sortable="true">labeling</th>
                    <th data-sortable="true">produced by</th>
                    <th data-sortable="true">production date</th>
                    <th data-sortable="true">comment</th>
                    {% if request.user.is_superuser %}<th></th>{%  endif %}

                </tr>
                </thead>
                <tbody>
                {% for complexbatch in complex_batches.all() %}
                    <tr>
                        {% if type == "gal_file" %}  <td></td>{% endif %}
                       {% if request.user.is_superuser %}  <td>
                    <a href="{{ url('edit', args=[ complexbatch.__class__.__name__, complexbatch.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                        </td>{%  endif %}
                        <td><b>{{ complexbatch.sid }}</b></td>
                        <!-- complex information -->
                        {% with c=complexbatch.ligand %}
                            <td class="info">{{ c.sid }}</td>
                            <td class="info">
                                {% for l in c.complex_ligands.all() %}
                                    {{ l.sid }}
                                {% endfor %}
                            </td>
                        {% endwith %}
                        <!-- batch information -->
                        <td>{{complexbatch.concentration }} {% if complexbatch.concentration_unit %}[{{complexbatch.concentration_unit }}]{% endif %}</td>
                        <td>{{ complexbatch.buffer }}</td>
                        <td>{{ complexbatch.ph }}</td>
                        <td>{{ complexbatch.purity }}</td>
                        <td>{{ complexbatch.labeling }}</td>
                        <td>{{ complexbatch.produced_by }}</td>
                        <td>{{ complexbatch.production_date }}</td>
                        <td>{{ complexbatch.comment }}</td>
                    {% if request.user.is_superuser %}<td class="alert-danger">
                        <a href="{{ url('delete', args=[ complexbatch.__class__.__name__, complexbatch.sid]) }}"><i class="fa fa-fw fa-trash"></i></a>
                     </td>{%  endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No entries in database.</p>
        {% endif %}