{% extends "flutype/base.html" %}
{% block content %}
    <h1> Peptide Information</h1>
      <form method="post" class="post-form">
          <table id="pepetide_edit">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

       {{form.as_table()}}
           </table>
                  <span style="float:left;">

              <button class="btn btn-default">Save changes</button>
                  </span>
      </form>

       <form action={{url('peptides')}}>
    <span style="float:left;">
    <button class="btn btn-default"> No, cancel.</button>
        </span>
    </form>

{% endblock %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
        $('#pepetide_edit').DataTable({
            searching: false,
            paging: false,
            info : false,
            "order": []});
        });
    </script>