{% extends "flutype/base.html" %}
{% block content %}
    <h1>New Peptide</h1>
      <form method="post" class="post-form">
          <table id="pepetide_new">
       {{form.as_table()}}
          </table>
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <button type="submit">Save changes</button>
    </form>
{% endblock %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
        $('#pepetide_new').DataTable({
            searching: false,
            paging: false,
            info : false,
            "order": []});
        });
    </script>