{% extends "flutype/base.html" %}
{% block content %}
    <div >
        <h1> Process Information</h1>



      <form id="myFormsets" method="post" action="">
          <table id="myFormset1Table" class="cell-border" >
              <thead>
              <tr>
                  <td>Index</td>
                  <td>Sid</td>
                  <td>Process Step Type</td>
                  <td>Method</td>
              </tr>
          </thead>
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                 <tbody>
                    {% for item_form in formset.forms %}
                        <tr>
                            <td> {{ item_form.index }}</td>
                            <td> {{ item_form.step}}</td>
                            <td> {{ item_form.instance.step.get_step_type.__class__.__name__}}</td>
                            <td> {{ item_form.instance.step.method}}</td>
                        </tr>
                    {% endfor %}
                 </tbody>
          </table>
                    {{ formset.management_form }}





                        <span style="float:left;">
              <button class="btn btn-default">Save changes</button>
                  </span>
      </form>
      <form action={{url('processes')}}>
    <span style="float:left;">
    <button class="btn btn-default"> No, cancel.</button>
        </span>
    </form>
    </div>


{% endblock %}

{% block javascript %}



    <script type="text/javascript" charset="utf-8">
            $('#myFormset1Table').DataTable({
                searching: false,
                paging: false,
                info: false,
                ordering:  false
            });
    </script>

     <script>
    $('#myFormset1Table tbody tr').formset({
        addText: 'add item',
        deleteText: '    remove'
    });
</script>

{% endblock %}