
{% import 'flutype/macros.html' as macros %}

{% extends "flutype/base.html" %}
{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block content %}
<div class="standard">
<h1> Gal File</h1>
    {%if type=="start" %}
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
             <label> Do you want to start of an exisiting gal file?
                 <input type="submit" name="exisiting_gal" value="Yes">
                 <input type="submit" name="new_gal" value="No">
             </label>
        </form>

    {% elif type=="detail" %}

      <form method="post" class="post-form">
          <table id="edit">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

       {{ form.as_table() }}
           </table>
                  <span style="float:left;">
                        <button class="btn btn-default btn-success" name="update">Update Picture</button>
                  </span>
      </form>

    {%endif%}
    {% if gal_file %}
    <div id="container1">
    </div>
    <div id="container2">
    </div>
    {% endif %}
</div>

{%endblock%}
{% block javascript %}
{% if gal_file %}
<script>
    var spots ={{ grid| safe }};

    Highcharts.chart('container1', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'arrangement of spots on array'
    },

    xAxis: {        visible: false



    },
    yAxis: {        visible: false


    },
    legend: {
        enabled: false
    },

    plotOptions: {
        scatter: {
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x} cm, {point.y} kg'
            }
        }
    },
    series: [ {
        color: 'rgba(119, 152, 191, .5)',
        data: spots
    }]
});


</script>
<script>
    var spots ={{ tray| safe }};

    Highcharts.chart('container2', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    title: {
        text: 'arrangement of spots in tray'
    },

    xAxis: {        visible: false



    },
    yAxis: {        visible: false


    },


    legend: {
        enabled: false
    },

    plotOptions: {
        allowOverlap:true,
        scatter: {
             dataLabels: {
                 enabled: true,
             },
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },

        }
    },
    series: [ {
        color: 'rgba(119, 152, 191, .5)',
        data: spots
    }]
});


</script>
{%endif%}

{% endblock %}
