{% extends "flutype/base.html" %}
{% block content %}
    <h1>New Peptide</h1>
      <form method="post" class="post-form">
          <table id="pepetide_edit">
       {{form.as_table()}}
          </table>
          <div class="input-group">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <button type="submit" class="btn btn-default">Save changes</button>
              <button name="delete" type="submit" class="btn btn-default">DELETE </button>
          </div>
      </form>
{% endblock %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
        $('#pepetide_edit').DataTable({
            searching: false,
            paging: false,
            info : false,
            "order": []});
        });
    </script>