{% extends "flutype/base.html" %}
{% import 'flutype/macros.html' as macros %}
{% block content %}
    <div class="standard">

     <!-- Ligands and Ligand Batches -->
    <h1>{{ macros.ligand_type(form.hr_classname)}}
    <!-- Steps and process -->
   {{ macros.step_name_type(form.hr_classname)}}
    {{ macros.study_type(form.hr_classname)}}</h1>


      <form method="post" class="post-form">
          <table id="edit">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

       {{ form.as_table() }}
           </table>
                  <span style="float:left;">

              <button class="btn btn-default btn-success">Save Changes</button>
                  </span>
      </form>
      <form action={{url(form.url_redirect)}}>
        <span style="float:left;">
            <button class="btn btn-default btn-danger">Cancel</button>
        </span>

    </form>


</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
    $('#batches').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'print',
                text: 'Print all'
            },
            {
                extend: 'print',
                text: 'Print selected',
                exportOptions: {
                    modifier: {
                        selected: true
                    }
                }
            }
        ],
        select: true
    } );
} );
</script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2018",
      // You can put more options here.

    });
  });
  </script>
{% endblock %}
