{% extends "flutype/base.html" %}
<!-- RENDERS RAWSPOTCOLLECTION OR QUANTIFIEDSPOTCOLLECTION -->
{% block head %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<div id="container" style="height: 500px; min-width: 50px; max-width: 1200px; margin: 0 auto"></div>
    <div id="myDiv" style="height: 500px; min-width: 50px; max-width: 1200px; margin: 0 auto"></div>
<!--javascript for charts
-->
    <script>
    var endpoint = './data';

    $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        dataPlot = data
        Chart()
    console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
         },
    })
    function Chart() {
        var data1 = [];
        for (i = 0; i < dataPlot.box_list.length; i++) {
            var trace1 = {
                y: dataPlot.box_list[i].intensity,
                x: dataPlot.box_list[i].lig2,
                name: dataPlot.lig1[i],
                marker: {color: '#3D9970'},
                type: 'box'
            };
            data1.push(trace1);
        }


        var layout = {
            yaxis: {
                title: 'normalized moisture',
                zeroline: false
            },
            boxmode: 'group'
        };

        Plotly.newPlot('myDiv', data, layout);
    }

</script>

    <script>

    var lig1 = {{ lig1|safe}};
    var lig2 = {{ lig2|safe}};
    var con1 = {{ con1|safe}};
    var con2 = {{ con2|safe}};

    Highcharts.chart('container', {

    chart: {
        type: 'heatmap',
        marginTop: 40,
        marginBottom: 80,
        plotBorderWidth: 1
    },

    title: {
        text: 'Ligands Arrangement'
    },

    xAxis: {

        categories: {{row_list|safe}},
        title: "rows",
        type: "category"
    },

    yAxis: {
        categories: {{column_list|safe}},
        title: null
    },

    colorAxis: {
        reversed: false,
        min: 0,
        minColor: Highcharts.getOptions().colors[7],
        maxColor: '#FFFFFF',

    },

    legend: {
        align: 'right',
        layout: 'vertical',
        margin: 0,
        verticalAlign: 'bottom',
        y: -53,
        symbolHeight: 280
    },

    tooltip: {
        useHTML: true,
        formatter: function () {
            return '<small> Information </small><table>'+
                '<tr><td> Fixed Ligand: </td>        <td style="text-align: right"> <b>' + lig1[this.point.x][this.point.y] + '</b></td>    <td style="text-align: right"> ' + '['+con1[this.point.x][this.point.y]+']'+ ' </td></tr>' +
                '<tr><td> Mobile Ligand:</td>     <td style="text-align: right"> <b>' + lig2[this.point.x][this.point.y] + '</b></td>    <td style="text-align: right"> ' + '['+con2[this.point.x][this.point.y]+']'+ ' </td></tr>' +
                '</table>';
        }
    },


    series: [{
        animation: true,
        name: 'Ligands Arrangement',
        borderWidth: 1,
        data: {{ data }},
        dataLabels: {
            enable:true,

        }
    }]

});
</script>

{% endblock %}

