{% extends "flutype/base.html" %}
{% block content %}
    <!-- Main Content -->
    <div class="row">
        <div class="pull-right">
            {% if language == "en" %}
                <a class="btn btn-default active"> <span class="bfh-languages" data-language="en_US"
                                                         data-flags="true"> </span> </a>
                <a class="btn btn-default" href="{{ url("how_de") }}"> <span class="bfh-languages"
                                                                               data-language="de_DE"
                                                                               data-flags="true"> </span> </a>
            {% elif language == "de" %}
                <a class="btn btn-default" href="{{ url("how") }}"> <span class="bfh-languages" data-language="en_US"
                                                                            data-flags="true"> </span> </a>
                <a class="btn btn-default active"> <span class="bfh-languages" data-language="de_DE"
                                                         data-flags="true"> </span> </a>
            {% endif %}
        </div>
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% if language == "de" %}
                <h1>Wie sollte ich die Daten für die Datenbank zur Verfügung stellen?</h1>
                <p> Noch keine Beschreibung auf deutsch.</p>
            {% elif language == "en" %}
                <h1>How to prepare content for database ?</h1>
                <h2>General</h2>
                <p>Here, I explain how the content has to be prepared to fit into the database. Therefore, I start with
                    the biggest unit in the database, the  <b> study </b>. A study contains a collection of measurements
                    and it has a task. The measurements are conducted to investigate that task. In following figure the
                    schematic structure of a study is shown. I go through the figure in detail. This structure obviously
                    corresponds to the structure of data for the import. I recommend to read this first before examining
                    the different examples of how to import data.
                </p>
                <img src="{{ static('flutype/images/study-sceme.png') }}" align="left" width="400"/>

                <p>
                here continue.
                </p>

            {% endif %}
        </div>
    </div>
{% endblock %}