<!--
Definition of reusable macro function in templates
-->
<!-- Ligands -->
{% macro ligand_type(ligand_type) %}
{% if ligand_type in ["Antibody Batch","Antibody"] %}
    <i class="fa fa-fw fa-hand-spock-o" title="{{ ligand_type }}"> </i> {{ ligand_type }}&nbsp;
{% elif ligand_type in ["Buffer Batch","Buffer"] %}
    <i class="fa fa-fw fa-circle-o-notch" title="{{ ligand_type }}"> </i> {{ ligand_type }}
{% elif ligand_type in ["Complex Batch","Complex"] %}
    {{ ligand_type }}
{% elif ligand_type in ["Peptide Batch","Peptide"] %}
    <i class="fa fa-fw fa-server" title="{{ ligand_type }}"> </i> {{ ligand_type }}
{% elif ligand_type in ["Virus Batch","Virus"] %}
    <i class="fa fa-fw fa-asterisk" title="{{ ligand_type }}"> </i> {{ ligand_type }}
{% endif %}
{% endmacro %}
<!-- Measurement type -->
{% macro measurement_type(measurement_type) %}
{% if measurement_type == "microwell" %}
    <i class="fa fa-fw fa-building-o" title="{{ measurement_type }}"></i>&nbsp;
{% elif measurement_type == "microarray" %}
    <i class="fa fa-fw fa-building" title="{{ measurement_type }}"></i>&nbsp;
{% elif measurement_type == "elisa" %}
    <i class="fa fa-fw fa-building text-info" title="{{ measurement_type }}"></i>&nbsp;
{% endif %}
{% endmacro %}

<!-- User -->
{% macro user(user) %}
{% if user %}
<i class="fa fa-fw fa-user"></i> {{ user.first_name }} {{ user.last_name }}<br />
{% else %}
<i class="fa fa-fw fa-ban"></i>
{% endif %}
{% endmacro %}

<!-- Status -->
{% macro status(status) %}
{% if status == "finished" %}
<i class="fa fa-fw fa-check-square-o text-success" title="{{ status }}"></i>
{% elif status == "in progress" %}
    <i class="fa fa-fw fa-cog" title="{{ status }}"></i>
{% endif %}
{{ status }}
{% endmacro %}

<!-- Step type -->
{%  macro step_type(step) %}
{% with name = step.__class__.__name__ %}
{% if name == "Washing" %}
    <i class="fa fa-fw fa-shower text-primary"></i> {{ name }}
{% elif name == "Drying" %}
    <i class="fa fa-fw fa-bullhorn text-warning"></i> {{ name }}
{% elif name == "Spotting" %}
    <i class="fa fa-fw fa-anchor"></i> {{ name }} / Immobilization
{% elif name == "Quenching" %}
    <i class="fa fa-fw fa-chain-broken text-danger"></i> {{ name }}
{% elif name == "Incubating" %}
    <i class="fa fa-fw fa-tint"></i> {{ name }}
{% elif name == "IncubatingAnalyt" %}
    <i class="fa fa-fw fa-tint" aria-hidden="true"></i>Incubating Analyte
{% elif name == "Blocking" %}
    <i class="fa fa-fw fa-pause text-danger" aria-hidden="true"></i> {{ name }}
{% elif name == "Scanning" %}
    <i class="fa fa-fw fa-camera text-success" aria-hidden="true"></i> {{ name }}
{% endif %}
{% endwith %}
{% endmacro %}