{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">
        <h1><i class="fa fa-fw fa-building"></i>
            {% if type == "my" %}My{% endif %}
            Measurements
            {% if type == "my" %}(<i class="fa fa-fw fa-user"></i> {{ request.user }}){% endif %}
        </h1>

        {% include "flutype/measurements_table.html" %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#measurements').bootstrapTable({
                pageLength: 25,
            });
        });
    </script>
{% endblock %}