{% import 'flutype/macros.html' as macros %}

{% if collections %}
    <table id="measurements" class="table table-striped">
        <thead>
        <tr>
            <th>sid</th>
            <th>type</th>
            <th>users</th>
            <th>batch</th>
            <th>functionalization</th>
            <th>manufacturer</th>
            <th>images</th>
            <th>viruses</th>
            <th>gal mobile</th>
            <th>gal fixed</th>
            <th>process</th>
            <th>studies</th>
            <th>results</th>
            <th>comment</th>
        </tr>
        </thead>
        <tbody>
        {% for c in collections %}
            <tr>
                <td><b><a href="{{ url('rawspotcollectionview', args=[c.sid]) }}"> {{ c.sid }}</a></b></td>
                <td>{{ macros.measurement_type(c.measurement_type) }} {{ c.measurement_type }}
                </td>
                <!-- user -->
                <td>
                {% if c.process.users() %}
                    {% for user in c.process.users() %}
                    {{ macros.user(user) }}
                    {% endfor %}
                {% endif %}
                </td>
                <td>{{ c.batch_sid }}</td>
                <td>{{ c.functionalization }}</td>
                <td>{{ c.manufacturer }}</td>
                <td>
                    {% if c.is_picture_in_rsc %}
                        {% with prosteps = c.processstep_set.all() %}
                            {% for prostep in prosteps %}
                                {% if prostep.image %}
                                         <a alt="{{  prostep.image }}" href="{{ prostep.image.url }}" target="blank">
                                            <i class="fa fa-file-image-o"></i>
                                         </a>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    {% else %}
                        <i class="fa fa-fw fa-ban fa-stack"></i>
                    {% endif %}
                </td>
                <td>
                    {% for virus in c.viruses2.all()%}
                        {% if virus.strain %}
                            {{ virus.strain }}<br />
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="{{ c.lig_mob.file.url }}" target="_blank" title="{{ c.lig_mob.file.url }}">
                    <i class="fa fa-fw fa-file"></i></a></td>
                <td><a href="{{ c.lig_fix.file.url }}" target="_blank" title="{{ c.lig_mob.file.url }}">
                    <i class="fa fa-fw fa-file"></i></a></td>

                <!-- process -->
                <td>
                    <a href="{{ url('processview', args=[c.process.sid]) }}"> {{ c.process.sid }}</a>
                </td>

                <!-- studies -->
                <td>
                    {% for study in c.studies.all() %}
                        <a href="{{ url("study", args=[study.sid]) }}">{{ study.sid }} </a> <br/>
                    {% endfor %}
                </td>
                <!-- results -->
                <td>{% if c.is_spot_collection() %}
                    <i class="fa fa-fw fa-check-square-o" style="color:green" aria-hidden="true"></i>

                    {% for s in c.spotcollection_set.all() %}
                        <a href="{{ url('qspotcollectionview', args=[c.sid,s.sid]) }}" target="_blank">{{ s.sid }}<br/></a>
                    {% endfor %}

                    {% else %}
                        <i class="fa fa-fw fa-ban"></i>
                    {%  endif %}
                </td>

                <td>{{ c.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No entries in database.</p>
{% endif %}