{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">
        <h1><i class="fa fa-fw fa-building"></i>
        {% if type == "all" %}
            Measurements
        {% elif type == "my" %}
            My Measurements
        {% endif %}
        </h1>

        {% include "flutype/measurements_table.html" %}

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#measurements').DataTable({
                pageLength: 25,
            });
        });
    </script>
{% endblock %}