{% import 'flutype/macros.html' as macros %}

{% extends "flutype/base.html" %}
{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div class="title1">
        <h1>{{ macros.measurement_type(collection.measurement_type) }} Measurement: {{ collection.sid }}</h1>
    </div>
    <div class="a">
        {% with collections = [collection] %}
        {% include "flutype/measurements_table.html" %}
        {% endwith %}
    </div>

    <div class="filebox">
        <div class="box" style="overflow-y:auto;">
            <table class="table table-condensed">
                <tbody>
                {% for raw_doc in collection.files.all() %}
                    <tr>
                        <td><a href="{{ raw_doc.file.url }}" target="_blank"> {{ raw_doc.sid }}</a></td>
                        <td>{{ raw_doc.file.size|filesizeformat }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form id="dropzone" class="dropzone" action="{{ url('upload_file_measurement', args=[collection.id])}}"
              method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>
    </div>

    <div class="c">
        <!-- internal navbar -->
        <nav id="navbar-2" class="navbar navbar-inverse">
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="{{ url('rawspotcollectionview',
                            args= [collection.id]) }}"><i class="fa fa-magic" aria-hidden="true"></i> Process <span
                            class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="{{ url('measurement_ligands',
                            args= [collection.id]) }}"><i class="fa fa-certificate"></i> Ligands <span
                            class="sr-only">(current)</span></a>
                    </li>
                    {% if collection.spotcollection_set.all() %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-fw fa-bar-chart"></i> Results </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for result in collection.spotcollection_set.all() %}
                                <li><a href="
                                        {{ url('qspotcollectionview', args=[result.id]) }}">  {{ result.sid }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <!-- process steps -->
    {% if type == "process" %}
        <div class="tables1" style="overflow-x:auto;">
            <div class="col-lg-12 img-rounded img-thumbnail">
                {% with process = collection.process %}
                    {% include "flutype/process_table.html" %}
                {% endwith %}
            </div>
        </div>

        <!-- fixed and mobile ligands -->
    {% elif type == "ligands" %}
        <div class="tables1" style="overflow-x:auto;">

            <div class="col-lg-6 img-rounded img-thumbnail">
                <!-- Fixed Antibodies -->
                {% with antibodies = collection.antibodies1 %}
                    {% if antibodies %}
                        <h3><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies (Fixed)</h3>
                        {% with id_antibodies_table="fixed_antibodies" %}
                            {% include "flutype/antibodies_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Peptides -->
                {% with peptides = collection.peptides1 %}
                    {% if peptides %}
                        <h3><i class="fa fa-fw fa-server"></i> Peptides (Fixed)</h3>
                        {% with id_peptides_table="fixed_peptides" %}
                            {% include "flutype/peptides_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Viruses -->
                {% with viruses = collection.viruses1 %}
                    {% if viruses %}
                        <h3><i class="fa fa-fw fa-asterisk"></i> Viruses (Fixed)</h3>
                        {% with id_viruses_table="fixed_viruses" %}
                            {% include "flutype/viruses_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Complexes -->
                <!-- FIXME: missing -->
            </div>

            <div class="col-lg-6 img-rounded img-thumbnail">
                <!-- Fixed Antibodies -->
                {% with antibodies = collection.antibodies2 %}
                    {% if antibodies %}
                        <h3><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies (Mobile)</h3>
                        {% with id_antibodies_table="mobile_antibodies" %}
                            {% include "flutype/antibodies_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Peptides -->
                {% with peptides = collection.peptides2 %}
                    {% if peptides %}
                        <h3><i class="fa fa-fw fa-server"></i> Peptides (Mobile)</h3>
                        {% with id_peptides_table="mobile_peptides" %}
                            {% include "flutype/peptides_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Viruses -->
                {% with viruses = collection.viruses2 %}
                    {% if viruses %}
                        <h3><i class="fa fa-fw fa-asterisk"></i> Viruses (Mobile)</h3>
                        {% with id_viruses_table="fixed_viruses" %}
                            {% include "flutype/viruses_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Complexes -->
                <!-- FIXME: missing -->
            </div>
        </div>
    {% endif %}

    <!-- collections -->
    {% if q_collection %}
        <div class="tables2">
            <table id="measurement" class="table table-striped">
                <tbody>
                <tr>
                    <th>Processing Type</th>
                    <td>{{ q_collection.processing_type }}</td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td>{{ q_collection.comment }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="container1" class="heat"></div>
        <div class="d " style="overflow-x:auto;">
        <div>
            <div class="row" id="myDiv" style="height: 1000px; min-width: 50px; max-width: 1500px; margin: 0 auto"></div>
            <div class="row" id="top" style="margin:0 auto">
                <button id="lin" class="btn btn-info"> lin</button>
                <button id="log" class="btn btn-info"> log</button>
            </div>
        </div>
        </div>

    {% endif %}
{% endblock %}

{% block javascript %}
    <!-- DataTables -->
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#process').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#measurement').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#collections').DataTable({
                pageLength: 25,

            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_antibodies').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_antibodies').DataTable();
        });
    </script>

    <!------------------------------------------------------------------>

    <script type="text/javascript" charset="utf-8">
        var endpoint = './data';

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                dataPlot = data;
                Plotly.newPlot('myDiv', Chart(dataPlot));
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });

        $('#lin').click(function () {
            var update = {
                "layout.yaxis.type": "lin"
            };
            var myDiv = document.getElementById("myDiv");
            myDiv.layout.yaxis.type = "lin";

            Plotly.restyle("myDiv", update);
        });

        $('#log').click(function () {
            var update = {
                "layout.yaxis.type": "log"
            };
            var myDiv = document.getElementById("myDiv");
            myDiv.layout.yaxis.type = "log";

            Plotly.restyle("myDiv", update);
        });

        function Chart(dataPlot) {
            var data = [];
            for (var i = 0; i < dataPlot.box_list.length; i++) {
                if (dataPlot.lig1[i] == null) {
                    var name = "Empty"
                } else {
                    var name = dataPlot.box_list[i].lig1 + " [" + dataPlot.box_list[i].lig1_con + "]";
                }
                var trace1 = {
                    y: dataPlot.box_list[i].intensity,
                    x: dataPlot.box_list[i].lig2,
                    boxpoints: 'all',
                    name: name,
                    type: 'box',
                    jitter: 0.5,
                    fillcolor: 'cls',
                    marker: {
                        size: 3
                    }
                };
                data.push(trace1);
            }

            var layout = {
                yaxis: {
                    type: "log",
                    title: 'Intensity',
                    zeroline: false
                },
                boxmode: 'group'
            };

            return {

                data: data,
                layout: layout
            }
        }

    </script>

    <script type="text/javascript" charset="utf-8">
        var form = document.getElementById("dropzone");
        Dropzone.options.myDropzone = {
            init: function () {
                form.submit();
            }
        }
    </script>

    <script type="text/javascript" charset="utf-8">

        var lig1 = {{ lig1|safe}};
        var lig2 = {{ lig2|safe}};
        var con1 = {{ con1|safe}};
        var con2 = {{ con2|safe}};

        Highcharts.chart('container1', {
            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },

            xAxis: {

                categories: {{column_list|safe}},
                title: "rows",
                type: "category"
            },

            yAxis: {
                categories: {{row_list|safe}},
                title: null
            },

            colorAxis: {
                reversed: false,
                min: 0,
                minColor: Highcharts.getOptions().colors[7],
                maxColor: '#FFFFFF',

            },
            legend: {
                {%if type == "raw"%}
                    enabled: false,
                {% endif %}
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'bottom',
                y: -53,
                symbolHeight: 520
            },

            title: {
                text: ''
            },

            tooltip: {
                useHTML: true,
                formatter: function () {
                    return '<small> Information </small><table id="detail_spot" class="cell-border">' +
                        '<tr><td> Fixed Ligand: </td>        <td style="text-align: right"> <b>' +
                        lig1[this.point.y][this.point.x] + '</b></td>    <td style="text-align: right"> ' +
                        '[' + con1[this.point.y][this.point.x] + ']' + ' </td></tr>' +
                        '<tr><td> Mobile Ligand:</td>     <td style="text-align: right"> <b>' +
                        lig2[this.point.y][this.point.x] + '</b></td>    <td style="text-align: right"> ' +
                        '[' + con2[this.point.y][this.point.x] + ']' + ' </td></tr>' +
                        '<tr><td> Intensity:</td>     <td style="text-align: right"> <b>' +
                        this.point.value + '</b></td>    <td style="text-align: right">  </td></tr>' +

                        '</table>';
                }
            },

            series: [{
                animation: true,
                name: 'Heatmap',
                borderWidth: 1,
                data: {{ data }},
                dataLabels: {
                    enable: true,

                }
            }]

        });
    </script>

{% endblock %}