{% import 'flutype/macros.html' as macros %}

{% if collections %}
    <table id={{ measurement_table_id }}
            data-toggle="table"
            data-pagination="true"
            data-search="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-toolbar="#toolbar"
            data-show-export="true"
            class="table table-striped">
        <thead>
        <tr>
            <th data-sortable="true">sid</th>
            <th data-sortable="true">type</th>
            <th data-sortable="true">responsible</th>
            <th data-sortable="true">involved</th>
            <th data-sortable="true">batch</th>
            <th data-sortable="true">functionalization</th>
            <th data-sortable="true">manufacturer</th>
            <th data-sortable="true">images</th>
            <th data-sortable="true">viruses</th>
            <th data-sortable="true">gal mobile</th>
            <th data-sortable="true">gal fixed</th>
            <th data-sortable="true">process</th>
            <th data-sortable="true">studies</th>
            <th data-sortable="true">results</th>
            <th data-sortable="true">comment</th>
        </tr>
        </thead>
        <tbody>
        {% for c in collections %}
            <tr>
                <td><b><a href="{{ url('rawspotcollectionview', args=[c.sid]) }}"> {{ c.sid }}</a></b>
                {% if request.user.has_perm('change_rawspotcollection', c) %}
                        <a title="delete Measurement" href="{{ url('delete', args=[c.__class__.__name__, c.sid]) }}"><i  class="fa fa-fw fa-trash text-danger"></i></a>
                    {% endif %}</td>
                <td>{{ macros.measurement_type(c.measurement_type) }} {{ c.measurement_type }}
                </td>
                <!-- user -->
                <td>{{ macros.user(c.user) }}</td>
                <td>
                {% if c.process %}
                {% if c.process.users() %}
                    {% for user in c.process.users() %}
                    {{ macros.user(user) }}
                    {% endfor %}
                {% endif %}
                {% endif %}
                </td>
                <td>{{ c.batch_sid }}</td>
                <td>{{ c.functionalization }}</td>
                <td>{{ c.manufacturer }}</td>
                <td>
                    {% if c.is_picture_in_rsc %}
                        {% with prosteps = c.processstep_set.all() %}
                            {% for prostep in prosteps %}
                                {% if prostep.image %}
                                         <a alt="{{  prostep.image }}" href="{{ prostep.image.url }}" target="blank">
                                            <i class="fa fa-file-image-o"></i>
                                         </a>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    {% else %}
                        <i class="fa fa-fw fa-ban fa-stack"></i>
                    {% endif %}
                </td>
                <td>
                    {% for virus in c.viruses2.all()%}
                        {% if virus.strain %}
                            {{ virus.strain }}<br />
                        {% endif %}
                    {% endfor %}
                </td>
                <td> {% if c.lig_mob %}
                    <a href="{{ c.lig_mob.file.url }}" target="_blank" title="{{ c.lig_mob.file.url }}">
                    <i class="fa fa-fw fa-file"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if c.lig_fix %}
                    <a href="{{ c.lig_fix.file.url }}" target="_blank" title="{{ c.lig_mob.file.url }}">
                    <i class="fa fa-fw fa-file"></i></a>
                    {% endif %}
                </td>

                <!-- process -->
                <td>
                    <a href="{{ url('processview', args=[c.process.sid]) }}"> {{ c.process.sid }}</a>
                </td>

                <!-- studies -->
                <td>
                    {% for study in c.studies.all() %}
                        <a href="{{ url("study", args=[study.sid]) }}">{{ study.sid }} </a> <br/>
                    {% endfor %}
                </td>
                <!-- results -->
                <td>{% if c.is_spot_collection() %}
                    <i class="fa fa-fw fa-check-square-o" style="color:green" aria-hidden="true"></i>

                    {% for s in c.spotcollection_set.all() %}
                        <a href="{{ url('qspotcollectionview', args=[c.sid,s.sid]) }}" target="_blank">{{ s.sid }}<br/></a>
                    {% endfor %}

                    {% else %}
                        <i class="fa fa-fw fa-ban"></i>
                    {%  endif %}
                </td>

                <td>{{ c.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No entries in database.</p>
{% endif %}