{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">

        <h1><i class="fa f-fw fa-server"></i> Peptides
        {% if type == "fixed" %}
            (Fixed)
        {% elif type == "mobile" %}
            (Mobile)
        {% endif %}
        <a href="{{ url('new', args=["Peptide"]) }}" class="btn btn-default" title="Add new peptide">
        <span class="fa fa-plus-circle fa-3x text-success"></span></a>
        </h1>
        {% with id_peptides_table = "peptides" %}
            {% include "flutype/peptides_table.html" %}
        {% endwith %}

    </div>

{% endblock %}
{% block javascript %}

{% endblock %}