{% extends "flutype/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{url('peptide_new')}}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% if type == "fixed" %}
                <h1>Fixed Peptides</h1>
            {% elif type == "mobile"%}
                <h1>Mobile Peptides</h1>
            {% else %}
                <h1>Peptides</h1>

            {% endif %}
            {% if peptides %}
            <table id="peptides" class="table table-striped">
                <thead>
                <tr>
                    <th>sid Peptide</th>
                    <th>Linker</th>
                    <th>Spacer</th>
                    <th>Sequence</th>
                    <th>C-Terminus</th>
                    <th>Name</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for p in peptides.all() %}
                    <tr>
                        <td class="warning"> <b> {{p.sid }}</b> </td>
                        <td>{{ p.linker }}</td>
                        <td>{{ p.spacer }}</td>
                        <td>{{ p.sequence }}</td>
                        <td>{{ p.c_terminus }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#peptides').DataTable();
        });
    </script>
{% endblock %}