{% if peptides %}
    <table id="{{ id_peptides_table }}"
           class="table table-striped"
           data-toggle="table"
            data-pagination="true"
            data-search="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-toolbar="#toolbar"
            class="table table-striped">
        <thead>
        <tr>
            {% if request.user.is_superuser %}<th></th>{% endif %}
            <th  data-sortable="true">sid</th>
            <th  data-sortable="true">name</th>
            <th  data-sortable="true">linker</th>
            <th  data-sortable="true">spacer</th>
            <th  data-sortable="true">sequence</th>
            <th  data-sortable="true">c-terminus</th>
            <th  data-sortable="true">comment</th>
            {% if request.user.is_superuser %}<th></th>{% endif %}

        </tr>
        </thead>
        <tbody>
        {% for p in peptides.all() %}
            <tr>
                {% if request.user.is_superuser %}<td>
                    <a href="{{ url('peptide_edit', args=[p.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                </td>{% endif %}
                <td><b>{{ p.sid }}</b></td>
                <td>{{ p.name }}</td>
                <td>{{ p.linker }}</td>
                <td>{{ p.spacer }}</td>
                <td>{{ p.sequence }}</td>
                <td>{{ p.c_terminus }}</td>
                <td>{{ p.comment }}</td>
                {% if request.user.is_superuser %}<td class="alert-danger">
                    <a href="{{ url('peptide_delete', args=[p.sid]) }}"><i class="fa fa-fw fa-trash"></i></a>
                 </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries in database.</p>
{% endif %}