{% extends "flutype/base.html" %}
{% block content %}
    <!-- LIST OF RAWSPOTCOLLECTION -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Peptide Batches</h1>
            {% if peptide_batches %}
            <table id="peptide_batches" class="table table-striped">
                <thead>
                <tr>
                    <th>sid Peptide Batch</th>
                    <th>sid Peptide</th>
                    <th>Linker</th>
                    <th>Spacer</th>
                    <th>Sequence</th>
                    <th>C-Terminus</th>
                    <th>Name</th>
                    <th>Peptide Type</th>
                    <th>Concentration</th>
                    <th>Buffer</th>
                    <th>pH</th>
                    <th>Purity</th>
                    <th>Produced by</th>
                    <th>Production Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for peptidebatch in peptide_batches.all() %}
                    <tr>
                        <td class="warning">
                            <b>{{ peptidebatch.sid }}</b>
                        </td>
                        <!-- peptide information -->
                        {% with p=peptidebatch.peptide %}
                        <td class="danger">{{ p.sid }}</td>
                        <td class="danger">{{ p.linker }}</td>
                        <td class="danger">{{ p.spacer }}</td>
                        <td class="danger">{{ p.sequence }}</td>
                        <td class="danger">{{ p.c_terminus }}</td>
                        <td class="danger">{{ p.name }}</td>
                        <td class="danger">{{ p.pep_type }}</td>
                        {%  endwith %}
                        <!-- batch information -->
                        <td>{{ peptidebatch.concentration }}</td>
                        <td>{{ peptidebatch.buffer }}</td>
                        <td>{{ peptidebatch.ph }}</td>
                        <td>{{ peptidebatch.purity }}</td>
                        <td>{{ peptidebatch.produced_by }}</td>
                        <td>{{ peptidebatch.production_date }}</td>
                        <td>{{ peptidebatch.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#peptide_batches').DataTable();
        });
    </script>
{% endblock %}