{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">
        <h1><i class="fa fa-fw fa-magic"></i> Processes</h1>
        {% if processes %}

            <table id="processes" class="table table-striped">
                <thead>
                <tr>
                    <th>sid</th>
                    <th>applied on measurements</th>
                </tr>
                </thead>
                <tbody>
                {% for process in processes %}
                    <tr>
                        <td>
                            <b><a href="{{ url('processview', args=[process.id]) }}">{{ process.sid }}</a></b>
                        </td>
                        <td>
                            {% for rawspotcollection in process.rawspotcollection_set.all() %}
                                <a href="{{ url('rawspotcollectionview', args=[rawspotcollection.id]) }}">{{ rawspotcollection.sid }}</a><br />
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>No entries in database.</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#processes').DataTable();
        });
    </script>
{% endblock %}