{% import 'flutype/macros.html' as macros %}

{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">
        <h1><i class="fa fa-fw fa-paw"></i> Process Steps
        <!-- Buttons -->
        <div class="btn-group">
            <button class="btn dropdown-toggle glyphicon glyphicon-triangle-bottom" title="Add process step" data-toggle="dropdown">
                <span class="fa fa-plus-circle fa-3x text-success"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="{{ url('new' , args=["Washing"]) }}">
                    <i class="fa fa-fw fa-shower" aria-hidden="true"></i> Washing</a>
                </li>
                <li><a href="{{ url('new' , args=["Drying"]) }}">
                    <i class="fa fa-fw fa-bullhorn" aria-hidden="true"></i> Drying</a>
                </li>
                <li><a href="{{ url('new' , args=["Spotting"]) }}">
                    <i class="fa fa-fw fa-anchor" aria-hidden="true"></i> Spotting</a>
                </li>
                <li><a href="{{ url('new' , args=["Quenching"]) }}">
                    <i class="fa fa-fw fa-chain-broken" aria-hidden="true"></i> Quenching</a>
                </li>
                <li><a href="{{ url('new' , args=["Blocking"]) }}">
                    <i class="fa fa-fw fa-pause" aria-hidden="true"></i> Blocking</a>
                </li>
                <li><a href="{{ url('new' , args=["Incubating"]) }}">
                    <i class="fa fa-fw fa-tint" aria-hidden="true"></i> Incubating</a>
                </li>
                <li><a href="{{ url('new' , args=["IncubatingAnalyt"]) }}">
                    <i class="fa fa-fw fa-tint" aria-hidden="true"></i> Incubating Analyte</a>
                </li>
                <li><a href="{{ url('new' , args=["Scanning"]) }}">
                    <i class="fa fa-fw fa-camera" aria-hidden="true"></i> Scanning</a>
                </li>
            </ul>
        </div>
        </h1>

        {% if steps %}
            <table id="steps"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-toolbar="#toolbar"
                    class="table table-striped">
                <thead>
                <tr>
                    {% if request.user.is_superuser %}<th></th>{% endif %}
                    <th  data-sortable="true">sid</th>
                    <th  data-sortable="true">type</th>
                    <th  data-sortable="true">method</th>
                     <th  data-sortable="true">substance</th>
                    <th  data-sortable="true">duration</th>
                    <th  data-sortable="true">temperature</th>
                    <th  data-sortable="true">comment</th>
                    {% if request.user.is_superuser %}<th></th>{% endif %}

                </tr>
                </thead>
                <tbody>
                {% for s in steps.all() %}
                    {% with sg = s.get_step_type %}
                        {% with class = sg.__class__.__name__ %}
                            <tr>
                                 {% if request.user.is_superuser %}<td>
                                    <a href="{{ url('edit', args=[class, sg.pk]) }}"><i class="fa fa-fw fa-edit"></i></a>
                                     </td>
                                    {% endif %}

                                <td><b> {{ sg.sid }}</b></td>
                                <td>{{ macros.step_type(sg) }}</td>
                                <td>{{ sg.method }}</td>
                                <td>
                                {% if class in ["Spotting", "IncubatingAnalyt", "Scanning"] %}
                                    <i class="fa fa-fw fa-ban"></i>
                                {% else %}
                                    {{ sg.substance }}
                                {% endif %}
                                </td>
                                <td>
                                {% if class in ["Spotting", "Scanning"] %}
                                    <i class="fa fa-fw fa-ban"></i>
                                {% else %}
                                    {{ sg.duration }}
                                {% endif %}
                                </td>
                                <td>{{ sg.temperature }}</td>
                                <td>{{ sg.comment }}</td>
                            {% if request.user.is_superuser %}<td class="alert-danger">
                    <a href="{{ url('delete', args=[class, sg.pk]) }}"><i class="fa fa-fw fa-trash"></i></a>
                 </td>{% endif %}
                            </tr>
                        {% endwith %}
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No entries in database.</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}