{% extends "flutype/base.html" %}
{% block content %}
    <!-- one process in detail -->
        <div class="standard">
        <h2><i class="fa fa-fw fa-magic"></i> Process: {{ process.sid }}</h2>
        {% if process.is_step_in_process() %}
            <table id="process" class="table table-striped">
                {% with prosteps = process.processstep_set.filter(raw_spot_collection=process.rawspotcollection_set.first())%}
                    <thead>
                    <tr>
                        <th>step</th>
                        <th>type</th>
                        <th>sid</th>
                        <th>method</th>
                        <th>substance</th>
                        <th>duration</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for prostep in prosteps %}
                        <tr>
                            <td><b><i class="fa fa-fw fa-paw"></i> {{ prostep.index + 1 }}</b></td>
                            {% with p = prostep.step.get_step_type %}
                                <td>
                                {% if  p.__class__.__name__ == "Washing" %}
                                    <i class="fa fa-fw fa-shower"></i> {{ p.__class__.__name__ }}
                                {% elif p.__class__.__name__ == "Drying" %}
                                    <i class="fa fa-fw fa-bullhorn"></i> {{ p.__class__.__name__ }}
                                {% elif p.__class__.__name__ == "Spotting" %}
                                    <i class="fa fa-fw fa-anchor"></i> {{ p.__class__.__name__ }} / Immobilization
                                {% elif p.__class__.__name__ == "Quenching" %}
                                    <i class="fa fa-fw fa-chain-broken"></i> {{ p.__class__.__name__ }}
                                {% elif p.__class__.__name__ == "Incubating" %}
                                    <i class="fa fa-fw fa-tint"></i> {{ p.__class__.__name__ }}
                                {% elif p.__class__.__name__ == "IncubatingAnalyt" %}
                                    <i class="fa fa-fw fa-tint" aria-hidden="true"></i>Incubating Analyte
                                {% elif p.__class__.__name__ == "Blocking" %}
                                    <i class="fa fa-fw fa-pause" aria-hidden="true"></i> {{ p.__class__.__name__ }}
                                {% elif p.__class__.__name__ == "Scanning" %}
                                    <i class="fa fa-fw fa-camera" aria-hidden="true"></i> {{ p.__class__.__name__ }}
                                {% endif %}
                                </td>

                                <td> {{ p.sid }}</td>
                                <td> {{ p.method }}</td>
                                {% if  p.substance %}
                                    <td> {{ p.substance }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                <td>
                                {% if p.duration %}
                                    {{ p.duration }}
                                {% endif %}
                                </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endwith %}
            </table>
        {% else %}
            No process steps avialable for {{ process.sid }} process.
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#process').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>
{% endblock %}