{% extends "flutype/base.html" %}
{% block content %}
    <!-- one process in detail -->
        <div class="standard">
        <h2><i class="fa fa-fw fa-magic"></i> Process: {{ process.sid }}</h2>

        {% include "flutype/process_table.html" %}

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#process').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>
{% endblock %}