{% extends "flutype/base.html" %}
{% block content %}
    <!-- one process in detail -->
        <div class="standard">
        <h2>Process: {{ process.sid }}</h2>
        {% if process.is_step_in_process() %}
            <table id="process" class="cell-border">
                {% with prosteps = process.processstep_set.filter(raw_spot_collection=process.rawspotcollection_set.first())%}
                    <thead>
                    <tr>
                        <th>Step Type</th>
                        <th>Sid</th>
                        <th>Method</th>
                        <th>Substance</th>
                        <th>Duration</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for prostep in prosteps %}
                        <tr>
                            {% with p = prostep.step.get_step_type %}
                                {% if  p.__class__.__name__ == "Washing" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-shower" aria-hidden="true"> </i>
                                    </p> {{ p.__class__.__name__ }}</th>
                                {% elif p.__class__.__name__ == "Drying" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    </p>{{ p.__class__.__name__ }}</th>
                                {% elif p.__class__.__name__ == "Spotting" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-anchor fa-fw"
                                                                         aria-hidden="true"></i>
                                    </p>{{ p.__class__.__name__ }} / Immobilization
                                    </th>
                                {% elif p.__class__.__name__ == "Quenching" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-chain-broken"
                                                                         aria-hidden="true"></i>
                                    </p> {{ p.__class__.__name__ }}</th>
                                {% elif p.__class__.__name__ == "Incubating" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-tint" aria-hidden="true"></i>
                                    </p> {{ p.__class__.__name__ }}</th>
                                {% elif p.__class__.__name__ == "IncubatingAnalyt" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-tint" aria-hidden="true"></i>
                                    </p> Incubating Analyte</th>

                                {% elif p.__class__.__name__ == "Blocking" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-pause" aria-hidden="true"></i>
                                    </p> {{ p.__class__.__name__ }}</th>
                                {% elif p.__class__.__name__ == "Scanning" %}
                                    <th><p> # {{ prostep.index + 1 }} <i class="fa fa-camera" aria-hidden="true"></i>
                                    </p> {{ p.__class__.__name__ }}</th>
                                {% endif %}

                                <td> {{ p.sid }}</td>
                                <td> {{ p.method }}</td>
                                {% if  p.substance %}
                                    <td> {{ p.substance }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}

                                {% if  p.duration %}
                                        <td> {{ p.duration }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                            {% endwith %}
                        </tr>
                    {% endfor %}

                    </tbody>
                {% endwith %}
            </table>
        {% else %}
            No process steps avialable for {{ process.sid }} process.
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#process').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>
{% endblock %}