{% import 'flutype/macros.html' as macros %}

{% if process.is_step_in_process() %}
<table id="process" class="table table-striped">
    {% with prosteps = process.processstep_set.filter(raw_spot_collection=process.rawspotcollection_set.first())%}
        <thead>
        <tr>
            <th>step</th>
            <th>type</th>
            <th>sid</th>
            <th>method</th>
            <th>substance</th>
            <th>duration</th>
            <th>temperature</th>
            <th>comment</th>
        </tr>
        </thead>

        <tbody>
        {% for prostep in prosteps %}
            <tr>
                <td><b><i class="fa fa-fw fa-paw"></i> {{ prostep.index + 1 }}</b></td>
                {% with p = prostep.step.get_step_type %}
                    <td>{{ macros.step_type(p) }}</td>
                    <td> {{ p.sid }}</td>
                    <td> {{ p.method }}</td>
                    {% if  p.substance %}
                        <td> {{ p.substance }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>
                    {% if p.duration %}
                        {{ p.duration }}
                    {% endif %}
                    </td>
                    <td>{{ p.temperature }}</td>
                    <td>{{ p.comment }}</td>
                {% endwith %}
            </tr>
        {% endfor %}
        </tbody>
    {% endwith %}
</table>
{% else %}
    No process steps exist for process:{{ process.sid }}.
{% endif %}