{% extends "flutype/base.html" %}

{% block content %}
    <!-- DETAIL OF RAWSPOTCOLLECTION -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Measurement {{ rawspotcollection.sid }} </h1>
        </div>
    </div>


    <!-- Raw Image & General information -->
    <div class="row">

        <!-- Raw Image -->
        <div class="col-lg-2">
            {% if rawspotcollection.image %}
                <a href="{{ rawspotcollection.image.url }}" target="_blank">
                    <img src={{ rawspotcollection.image.url }} alt="Scan" height="800">
                </a>
            {% else %}
                <center><i class="fa fa-5x fa-ban"></i><br />
                    <b>No image available</b></center>
            {% endif %}
        </div>

        <!-- Process Information -->
        <div class="col-lg-3">
            <h2>Spot Collections</h2>
            <p>
                {% for sc in rawspotcollection.spotcollection_set.all %}
                    <a href="{% url "spotcollectionview" pk=sc.id %}"><b>SpotCollection:{{ sc.id }}</b></a><br />
                {% endfor %}
            </p>

            <!-- TODO: Process information here in table -->
            <h2>Process</h2>
            <table>
                <tr>
                <tr>
                    <td><b>Holder Type</b></td><td>{{rawspotcollection.holder_type}}</td>
                </tr><tr>
                    <td><b>Functionalization</b></td><td>{{rawspotcollection.functionalization}}</td>
                </tr><tr>
                    <td>Holder Type<b></b></td><td></td>
                </tr><tr>
                    <td>Holder Type<b></b></td><td></td>
                </tr><tr>
                    <td>Holder Type<b></b></td><td></td>
                </tr><tr>
                    <td>Holder Type<b></b></td><td></td>
                </tr><tr>
                </tr><tr>
                    <td>RawSpotCollection Batch<b></b></td><td>{{ rawspotcollection.batch }}</td>
                </tr>
                </tbody>
            </table>

        </p>
        <p>
        Manufacturer: {{rawspotcollection.manufacturer}}
        </p>
        <p>
        Spotting: {{rawspotcollection.process.spotting.method}}
        </p>
        <p>
        Quenching: {{rawspotcollection.process.quenching.method}}
        </p>
        <p>
        Incubating: {{rawspotcollection.process.incubating.method}}
        </p>
        </div>

        <!-- Peptides & Viruses -->
        <div class="col-lg-7">
            <h2>Peptides</h2>
            <table id="peptides" class="table table-striped">
                <thead>
                <tr>
                    <th>sid</th>
                    <th>linker</th>
                    <th>spacer</th>
                    <th>sequence</th>
                    <th>c_terminus</th>
                    <th>name</th>
                    <th>pep_type</th>
                    <th>comment</th>
                </tr>
                </thead>
                <tbody>
                {% for peptide in rawspotcollection.peptides.all %}
                    <tr>
                        <td>
                            {{ peptide.sid }}
                        <td>
                            {{ peptide.linker }}
                        </td>
                        <td>
                            {{ peptide.spacer }}
                        </td>
                        <td>
                            {{ peptide.sequence }}
                        </td>
                        <td>
                            {{ peptide.c_terminus }}
                        </td>
                        <td>
                            {{ peptide.name }}
                        </td>
                        <td>
                            {{ peptide.pep_type }}
                        </td>
                        <td>
                            {{ peptide.comment }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2>Viruses</h2>

            <table id="viruses" class="table table-striped">
                <thead>
                <tr>
                    <th>sid</th>
                    <th>subgroup</th>
                    <th>country</th>
                    <th>date of appearance</th>
                    <th>strain</th>
                </tr>
                </thead>
                <tbody>
                {% for virus in rawspotcollection.viruses.all %}
                    <tr>
                        <td>
                            {{ virus.sid }}
                        <td>
                            {{ virus.subgroup }}
                        </td>
                        <td>
                            {{ virus.country }}
                        </td>
                        <td>
                            {{ virus.date_of_appearance }}
                        </td>
                        <td>
                            {{ virus.strain }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- Heatmap & Peptide/Virus table -->
    <div class="row">
        <div class="col-lg-4">
            <img src="./heatmap" width="500"/>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#viruses').DataTable();
        });
    </script>
{% endblock %}