{% extends "flutype/base.html" %}

{% block content %}
    <!-- DETAIL OF RAWSPOTCOLLECTION -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Measurement: [{{ rawspotcollection.sid }}] {{ rawspotcollection.batch }}</h1>
        </div>
    </div>


    <!-- Raw Image & General information -->
    <div class="row">
        <div class="col-lg-2">
            {% if rawspotcollection.image %}
                <a href="{{ rawspotcollection.image.url }}" target="_blank">
                    <img src={{ rawspotcollection.image.url }} alt="Scan" height="800">
                </a>
            {% else %}
                    <img src="/media/scan/nofile.jpg" alt="Scan" height="800">

            {% endif %}
        </div>
        <div class="col-lg-3">
            <h2>Spot Collections</h2>
            <p>
                {% for spotcollection in rawspotcollection.spotcollection_set.all %}
                    <a href="{% url "spotcollectionview" pk=spotcollection.id %}">{{ spotcollection.id }}</a><br/>
                {% endfor %}
                <!-- TODO: Process information here in table -->
            </p>
            <h2>Process</h2>
        <p>
        Holder Type: {{rawspotcollection.holder_type}}
        </p>
        <p>
        Functionalization: {{rawspotcollection.functionalization}}
        </p>
        <p>
        Manufacturer: {{rawspotcollection.manufacturer}}
        </p>
        <p>
        Spotting: {{rawspotcollection.process.spotting.method}}
        </p>
        <p>
        Quenching: {{rawspotcollection.process.quenching.method}}
        </p>
        <p>
        Incubating: {{rawspotcollection.process.incubating.method}}
        </p>


        </div>
        <div class="col-lg-7">
            <h2>Peptides</h2>
            <table id="peptides" class="table table-striped">
                <thead>
                <tr>
                    <th>sid</th>
                    <th>linker</th>
                    <th>spacer</th>
                    <th>sequence</th>
                    <th>c_terminus</th>
                    <th>name</th>
                    <th>pep_type</th>
                    <th>comment</th>
                </tr>
                </thead>
                <tbody>
                {% for peptide in rawspotcollection.peptides.all %}
                    <tr>
                        <td>
                            {{ peptide.sid }}
                        <td>
                            {{ peptide.linker }}
                        </td>
                        <td>
                            {{ peptide.spacer }}
                        </td>
                        <td>
                            {{ peptide.sequence }}
                        </td>
                        <td>
                            {{ peptide.c_terminus }}
                        </td>
                        <td>
                            {{ peptide.name }}
                        </td>
                        <td>
                            {{ peptide.pep_type }}
                        </td>
                        <td>
                            {{ peptide.comment }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2>Viruses</h2>
            <p>
            <table id="viruses" class="table table-striped">
                <thead>
                <tr>
                    <th>sid</th>
                    <th>subgroup</th>
                    <th>country</th>
                    <th>date of appearance</th>
                    <th>strain</th>
                </tr>
                </thead>
                <tbody>
                {% for virus in rawspotcollection.viruses.all %}
                    <tr>
                        <td>
                            {{ virus.sid }}
                        <td>
                            {{ virus.subgroup }}
                        </td>
                        <td>
                            {{ virus.country }}
                        </td>
                        <td>
                            {{ virus.date_of_appearance }}
                        </td>
                        <td>
                            {{ virus.strain }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- Heatmap & Peptide/Virus table -->
    <div class="row">
        <div class="col-lg-4">
            <img src="./heatmap" width="500"/>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#viruses').DataTable();
        });
    </script>
{% endblock %}