{% extends "flutype/base.html" %}
<!-- RENDERS RAWSPOTCOLLECTION OR QUANTIFIEDSPOTCOLLECTION -->
{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
{% block content %}
    <!-- Title -->

    <div class="row"></div>

    <div class="row-fluid">
        <div class='col-lg-2 '>
            <!-- Title -->
            <div class="row ">
                {% if type == "raw" %}
                    <h1>Raw: {{ collection.sid }} </h1>
                {% else %}
                    <h1>Quantified: {{ q_collection.sid }}</h1>
                {% endif %}
            </div>
            <!-- Raw Image -->
            <div class="row ">
                {% if collection.image %}
                    <a href="{{ collection.image.url }}" target="_blank">
                        <img src={{ collection.image_90.url }} >
                    </a>
                {% else %}
                    <i class="fa fa-5x fa-ban"></i><br/>
                    <b>No image available</b>
                {% endif %}
            </div>
            <!-- Eperiment Information -->
            <div class="row">
                <h2>Experiment Information</h2>
                <table id="experiment" class="cell-border">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if collection.experiment_type %}
                        <tr>
                            <td><b>Experiment Type</b></td>
                            <td>{{ collection.experiment_type }}</td>
                        </tr>
                    {% endif %}
                    {% if collection.batch %}
                        <tr>
                            <td><b>RawSpotCollection Batch</b></td>
                            <td>{{ collection.batch }}</td>
                        </tr>
                    {% endif %}
                    {% if collection.functionalization %}
                        <tr>
                            <td><b>Functionalization</b></td>
                            <td>{{ collection.functionalization }}</td>
                        </tr>
                    {% endif %}
                    {% if collection.manufacturer %}
                        <tr>
                            <td><b>Manufacturer</b></td>
                            <td>{{ collection.manufacturer }}</td>
                        </tr>
                    {% endif %}
                    {% if type == 'raw' %}
                        {% if collection.comment %}
                            <tr>
                                <td><b>Comment</b></td>
                                <td>{{ collection.comment }}</td>
                            </tr>
                        {% endif %}
                    {% elif type == 'quantified' %}
                        {% if q_collection.image2numeric_version %}
                            <tr>
                                <td><b>Image2Numeric Version</b></td>
                                <td>{{ q_collection.image2numeric_version }}</td>
                            </tr>
                        {% endif %}

                        {% if q_collection.processing_type %}
                            <tr>
                                <td><b>Processing Type</b></td>
                                <td>{{ q_collection.processing_type }}</td>
                            </tr>
                        {% endif %}

                        {% if q_collection.comment %}
                            <tr>
                                <td><b>Comment</b></td>
                                <td>{{ q_collection.comment }}</td>
                            </tr>
                        {% endif %}

                    {% endif %}


                    </tbody>
                </table>
            </div>
            <!-- Collection/QCollection Info -->
            <div class="row">
                {% if type == "raw" %}
                    <h2>Quantified Collections</h2>
                    {% if collection.is_spot_collection() %}
                        <p>
                            {% for sc in collection.spotcollection_set.all() %}
                                <a href="{{ url('qspotcollectionview', args=[sc.id]) }}">
                                    <b>QuantifiedCollection:{{ sc.sid }}</b></a>
                                <br/>
                            {% endfor %}
                        </p>
                    {% else %}
                        No quantified collection available
                    {% endif %}
                {% else %}

                    <h2>Raw Collection</h2>
                    <p>
                        <a href="{{ url('rawspotcollectionview', args=[collection.pk]) }}">
                            <b>RawCollection:{{ collection.sid }}</b></a><br/>
                    </p>

                {% endif %}
            </div>

            <!-- Heat map  -->
            {#            <div class="row">#}
            {#                <img src="./heatmap" width="400" >#}
            {#            </div>#}
            {% if type == "quantified" %}
                <div class="row" id="container"
                     style="height: 650px; min-width: 50px; max-width: 250px; margin: 0 auto"></div>
            {% endif %}

        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-9">
            <!-- Buttons -->
            <div class="row">
                <div class="btn-group  pull-right">
                    <button class="btn dropdown-toggle btn-info glyphicon glyphicon-triangle-bottom"
                            data-toggle="dropdown"> Update
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">Update Experiment Information</a></li>
                        <li><a tabindex="-1" href="#">Update Process Information </a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Update Fixed Ligand Gal File </a></li>
                        <li><a tabindex="-1" href="#">Update Mobile Ligand Gal File </a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Add Quantified Collection </a></li>

                    </ul>
                </div>
            </div>
            <!-- Process Information -->
            <div class="row">
                {% with process = collection.process %}
                    <h2>Process: {{ process.sid }}</h2>
                    {% if process.is_step_in_process() %}
                        <table id="processes" class="cell-border">
                            {% with prosteps = process.processstep_set.all() %}
                                <thead>
                                <tr>
                                    <th></th>
                                    {% for prostep in prosteps %}
                                        {% with p = prostep.step.get_step_type %}
                                            {% if  prostep.step.get_step_type.__class__.__name__ == "Washing" %}
                                                <th><p> # {{ prostep.index + 1 }} <i class="fa fa-shower"
                                                                                     aria-hidden="true"> </i>
                                                </p> {{ p.__class__.__name__ }}</th>
                                            {% elif p.__class__.__name__ == "Drying" %}
                                                <th><p> # {{ prostep.index + 1 }} <i class="fa fa-bullhorn"
                                                                                     aria-hidden="true"></i>
                                                </p>{{ p.__class__.__name__ }}</th>
                                            {% elif p.__class__.__name__ == "Spotting" %}
                                                <th><p> # {{ prostep.index + 1 }} <i class="fa fa-tint"
                                                                                     aria-hidden="true"></i>
                                                </p>{{ p.__class__.__name__ }}</th>
                                            {% elif p.__class__.__name__ == "Quenching" %}
                                                <th><p> # {{ prostep.index + 1 }} <i class="fa fa-chain-broken"
                                                                                     aria-hidden="true"></i>
                                                </p> {{ p.__class__.__name__ }}</th>
                                            {% elif p.__class__.__name__ == "Incubating" %}
                                                <th><p> # {{ prostep.index + 1 }} <i class="fa fa-link"
                                                                                     aria-hidden="true"></i>
                                                </p> {{ p.__class__.__name__ }}</th>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Sid</th>
                                    {% for prostep in prosteps %}
                                        <td> {{ prostep.step.get_step_type.sid }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Method</th>
                                    {% for prostep in prosteps %}
                                        <td> {{ prostep.step.get_step_type.method }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Substance</th>
                                    {% for prostep in prosteps %}
                                        {% if  prostep.step.get_step_type.substance %}
                                            <td> {{ prostep.step.get_step_type.substance }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Duration</th>
                                    {% for prostep in prosteps %}
                                        {% if  prostep.step.get_step_type.duration %}
                                            <td> {{ prostep.step.get_step_type.duration }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th>User</th>
                                    {% for prostep in prosteps %}
                                        {% if  prostep.user %}
                                            <td> {{ prostep.user }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Start</th>
                                    {% for prostep in prosteps %}
                                        {% if  prostep.start %}
                                            <td> {{ prostep.start }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Finish</th>
                                    {% for prostep in prosteps %}
                                        {% if  prostep.finish %}
                                            <td> {{ prostep.finish }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>

                                <tr>
                                    <th>Comment</th>
                                    {% for prostep in prosteps %}
                                        {% if  prostep.comment %}
                                            <td> {{ prostep.comment }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                </tbody>
                            {% endwith %}
                        </table>
                    {% else %}
                        No process steps available for process.
                    {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <!-- Fixed Ligands -->
                <div class="col-lg-6 img-rounded img-thumbnail">
                    <h2>Fixed Ligands</h2>
                    {% if collection.peptides1 %}
                        <h3>Peptides</h3>
                        <table id="fixed_peptides" class="table table-striped">
                            <thead>
                            <tr>
                                <th>sid Peptide</th>
                                <th>Linker</th>
                                <th>Spacer</th>
                                <th>Sequence</th>
                                <th>C-Terminus</th>
                                <th>Name</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in collection.peptides1.all() %}
                                <tr>
                                    <td class="warning"><b> {{ p.sid }}</b></td>
                                    <td>{{ p.linker }}</td>
                                    <td>{{ p.spacer }}</td>
                                    <td>{{ p.sequence }}</td>
                                    <td>{{ p.c_terminus }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if collection.viruses1 %}
                        <h3>Viruses</h3>
                        <table id="fixed_viruses" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Sid</th>
                                <th>Tax Id</th>
                                <th>Subtype</th>
                                <th>Isolation Country</th>
                                <th>Collection Date</th>
                                <th>Strain</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for virus in collection.viruses1.all() %}
                                <tr>
                                    {% if virus.sid == "NO" %}
                                        <td class="warning"><b>{{ virus.sid }}</b></td>
                                    {% else %}
                                        <td class="warning">
                                            <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}">
                                            <b>{{ virus.sid }}</b></a>
                                        </td>
                                    {% endif %}
                                    <td>{{ virus.tax_id }}</td>
                                    <td>{{ virus.subtype }}</td>
                                    <td>{{ virus.isolation_country }}</td>
                                    <td>{{ virus.collection_date }}</td>
                                    <td>{{ virus.strain }}</td>
                                    <td>{{ virus.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if collection.antibodies1 %}
                        <h3>Antibodies</h3>
                        <table id="fixed_antibodies" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Sid</th>
                                <th>Target</th>
                                <th>Name</th>
                                <th>Database Link</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for antibody in collection.antibodies1.all() %}
                                <tr>
                                    <td class="warning"><b>{{ antibody.sid }}</b></td>
                                    <td>{{ antibody.target }}</td>
                                    <td>{{ antibody.name }}</td>
                                    <td>{{ antibody.link_db }}</td>
                                    <td>{{ antibody.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
                <!-- Mobile Ligands -->
                <div class="col-lg-6 img-rounded img-thumbnail">
                    <h2>Mobile Ligands</h2>
                    {% if collection.peptides2 %}
                        <h3>Peptides</h3>
                        <table id="mobile_peptides" class="table table-striped">
                            <thead>
                            <tr>
                                <th>sid Peptide</th>
                                <th>Linker</th>
                                <th>Spacer</th>
                                <th>Sequence</th>
                                <th>C-Terminus</th>
                                <th>Name</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in collection.peptides2.all() %}
                                <tr>
                                    <td class="warning"><b> {{ p.sid }}</b></td>
                                    <td>{{ p.linker }}</td>
                                    <td>{{ p.spacer }}</td>
                                    <td>{{ p.sequence }}</td>
                                    <td>{{ p.c_terminus }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if collection.viruses2 %}
                        <h3>Viruses</h3>
                        <table id="mobile_viruses" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Sid</th>
                                <th>Tax Id</th>
                                <th>Subtype</th>
                                <th>Isolation Country</th>
                                <th>Collection Date</th>
                                <th>Strain</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for virus in collection.viruses2.all() %}
                                <tr>
                                    {% if virus.sid == "NO" %}
                                        <td class="warning"><b>{{ virus.sid }}</b></td>
                                    {% else %}
                                        <td class="warning"><a
                                                href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}">
                                            <b>{{ virus.sid }}</b></a>
                                        </td>
                                    {% endif %}
                                    <td>{{ virus.tax_id }}</td>
                                    <td>{{ virus.subtype }}</td>
                                    <td>{{ virus.isolation_country }}</td>
                                    <td>{{ virus.collection_date }}</td>
                                    <td>{{ virus.strain }}</td>
                                    <td>{{ virus.comment }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% if collection.antibodies2 %}
                        <h3>Antibodies</h3>
                        <table id="mobile_antibodies" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Sid</th>
                                <th>Target</th>
                                <th>Name</th>
                                <th>Database Link</th>
                                <th>Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for antibody in collection.antibodies2.all() %}
                                <tr>
                                    <td class="warning"><b>{{ antibody.sid }}</b></td>
                                    <td>{{ antibody.target }}</td>
                                    <td>{{ antibody.name }}</td>
                                    <td>{{ antibody.link_db }}</td>
                                    <td>{{ antibody.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
            <!-- Peptide/Virus table -->
            <div class="row">
                <div class="col-lg-12">
                    {% if type == "quantified" %}
                        <div>
                            <h2>Boxplot</h2>
                            <div class="row" id="myDiv"
                                 style="height: 700px; min-width: 50px; max-width: 1500px; margin: 0 auto"></div>
                            <div class="row" id="top" style="margin:0 auto">
                                <button id="lin" class="btn btn-info"> lin</button>
                                <button id="log" class="btn btn-info"> log</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_antibodies').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_antibodies').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#processes').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#experiment').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">

        var lig1 = {{ lig1|safe}};
        var lig2 = {{ lig2|safe}};
        var con1 = {{ con1|safe}};
        var con2 = {{ con2|safe}};

        Highcharts.chart('container', {
            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },

            xAxis: {

                categories: {{column_list|safe}},
                title: "rows",
                type: "category"
            },

            yAxis: {
                categories: {{row_list|safe}},
                title: null
            },

            colorAxis: {
                reversed: false,
                min: 0,
                minColor: Highcharts.getOptions().colors[7],
                maxColor: '#FFFFFF',

            },
            legend: {
                {%if type == "raw"%}
                    enabled: false,
                {% endif %}
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'bottom',
                y: -53,
                symbolHeight: 520
            },

            title: {
                text: ''
            },

            tooltip: {
                useHTML: true,
                formatter: function () {
                    return '<small> Information </small><table id="detail_spot" class="cell-border">' +
                        '<tr><td> Fixed Ligand: </td>        <td style="text-align: right"> <b>' +
                        lig1[this.point.y][this.point.x] + '</b></td>    <td style="text-align: right"> ' +
                        '[' + con1[this.point.y][this.point.x] + ']' + ' </td></tr>' +
                        '<tr><td> Mobile Ligand:</td>     <td style="text-align: right"> <b>' +
                        lig2[this.point.y][this.point.x] + '</b></td>    <td style="text-align: right"> ' +
                        '[' + con2[this.point.y][this.point.x] + ']' + ' </td></tr>' +
                        '<tr><td> Intensity:</td>     <td style="text-align: right"> <b>' +
                        this.point.value + '</b></td>    <td style="text-align: right">  </td></tr>' +

                        '</table>';
                }
            },

            series: [{
                animation: true,
                name: 'Heatmap',
                borderWidth: 1,
                data: {{ data }},
                dataLabels: {
                    enable: true,

                }
            }]

        });

    </script>

    <script type="text/javascript" charset="utf-8">
        var endpoint = './data';
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                dataPlot = data;
                Plotly.newPlot('myDiv', Chart(dataPlot));
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });

        $('#lin').click(function () {
            var update = {
                "layout.yaxis.type": "lin"
            };
            var myDiv = document.getElementById("myDiv");
            myDiv.layout.yaxis.type = "lin";

            Plotly.restyle("myDiv", update);
        });

        $('#log').click(function () {
            var update = {
                "layout.yaxis.type": "log"
            };
            var myDiv = document.getElementById("myDiv");
            myDiv.layout.yaxis.type = "log";

            Plotly.restyle("myDiv", update);
        });

        function Chart(dataPlot) {
            var data = [];
            for (var i = 0; i < dataPlot.box_list.length; i++) {
                if (dataPlot.lig1[i] == null) {
                    var name = "Empty"
                } else {
                    var name = dataPlot.box_list[i].lig1 + " [" + dataPlot.box_list[i].lig1_con + "]";
                }
                var trace1 = {
                    y: dataPlot.box_list[i].intensity,
                    x: dataPlot.box_list[i].lig2,
                    boxpoints: 'all',
                    name: name,
                    type: 'box',
                    jitter: 0.5,
                    fillcolor: 'cls',
                    marker: {
                        size: 3
                    }
                };
                data.push(trace1);
            }

            var layout = {
                yaxis: {
                    type: "log",
                    title: 'Intensity',
                    zeroline: false
                },
                boxmode: 'group'
            };

            return {

                data: data,
                layout: layout
            }
        }

    </script>
{% endblock %}

