{% extends "flutype/base.html" %}

{% block content %}
    <a href="{% url 'index'%}"> Home </a>
    <a href="{% url "rawspotcollectionview" pk=spotcollection.raw_spot_collection.id %}"> {{ spotcollection.raw_spot_collection.sid}}</a>
<h4>
    [{{ spotcollection.raw_spot_collection.sid }}]

    <p>{{ spotcollection.comment }} </p>
</h4>

<h6>The Scan:</h6>
    {% if spotcollection.raw_spot_collection.image %}
    <img src={{spotcollection.raw_spot_collection.image.url}} alt="Scan" height="800" width="200" >
    {% else %}
        No Image File
    {% endif %}
<table id="RawSpotCollections" class="table table-striped">
     <caption>Peptides</caption>
<thead>
  <tr>
      <th>sid</th>
      <th>linker</th>
      <th>spacer</th>
      <th>sequence</th>
       <th>c_terminus</th>
       <th>name</th>
       <th>pep_type</th>
       <th>comment</th>
  </tr>
</thead>
<tbody>
      {%  for peptide in spotcollection.raw_spot_collection.peptide_set %}
         <tr>
             <td>
                 {{ peptide.sid }}
             <td>
                 {{peptide.linker}}
             </td>
             <td>
                 {{peptide.spacer}}
             </td>
             <td>
                 {{peptide.sequence}}
             </td>
             <td>
                 {{peptide.c_terminus}}
             </td>
             <td>
                {{peptide.name}}
             </td>
            <td>
              {{peptide.pep_type}}
            </td>
            <td>
              {{peptide.comment}}
            </td>



         </tr>
     {% endfor %}
</tbody>
</table>
   <table id="SpotCollections" class="table table-striped">
     <caption>Viruses</caption>
<thead>
  <tr>
      <th>sid</th>
      <th>subgroup</th>
      <th>country</th>
      <th>date of appearance</th>
       <th>strain</th>

  </tr>
</thead>
<tbody>
      {%  for virus in spotcollection.raw_spot_collection.virus_set %}
         <tr>
             <td>
                 {{ virus.sid }}
             <td>
                 {{virus.subgroup}}
             </td>
             <td>
                 {{virus.country}}
             </td>
             <td>
                 {{virus.date_of_appearance}}
             </td>
             <td>
                 {{virus.strain}}
             </td>




         </tr>
     {% endfor %}
</tbody>
</table>
{% endblock %}
