{% extends "flutype/base.html" %}

{% block content %}
    <!-- RENDERS RAWSPOTCOLLECTION OR QUANTIFIEDSPOTCOLLECTION -->
    <div class="row">
        <div class="col-lg-12">
            {%  if type == "raw" %}
                <h1>Raw: {{ collection.sid }} </h1>
            {%  else %}
                <h1>Quantified: {{ q_collection.pk }}</h1>
            {%  endif %}
        </div>
    </div>

    <!-- Raw Image & General information -->
    <div class="row">

        <!-- Raw Image -->
        <div class="col-lg-2">
            {% if collection.image %}
                <a href="{{ collection.image.url }}" target="_blank">
                    <img src={{ collection.image.url }} alt="Scan" width="250">
                </a>
            {% else %}
                <center><i class="fa fa-5x fa-ban"></i><br />
                    <b>No image available</b></center>
            {% endif %}
        </div>

        <!-- Process Information -->
        <div class="col-lg-2">
            {%  if type == "raw" %}
                <h2>Quantified Collections</h2>
                <p>
                    {% for sc in collection.spotcollection_set.all() %}
                        <a href="{{ url('qspotcollectionview', args=[sc.id]) }}"><b>QuantifiedCollection:{{ sc.sid }}</b></a><br />
                    {% endfor %}
                </p>
            {% else %}

                <h2>Raw Collection</h2>
                <p>
                    <a href="{{ url('rawspotcollectionview', args=[collection.pk]) }}"><b>RawCollection:{{ collection.sid }}</b></a><br />
                </p>

            {% endif %}

            <h2>Experiment</h2>
            <table>
               <tr><td><b>Manufacturer</b></td><td>{{collection.manufacturer}}</td></tr>
                <tr><td><b>RawSpotCollection Batch</b></td><td>{{collection.batch}}</td></tr>
                <tr><td><b>Functionalization</b></td><td>{{collection.functionalization}}</td></tr>
                <tr><td><b>Manufacturer</b></td><td>{{collection.manufacturer}}</td></tr>

                {# {% with process=collection.process %}

                <tr>
                    <td><b>Spotting</b></td><td>{% if process.spotting %}{{ process.spotting.method }}{% endif %}</td>
                </tr>
                <tr>
                    <td><b>Quenching</b></td><td>{% if process.quenching %}{{ process.quenching.method }}{% endif %}</td>
                </tr>
                <tr>
                    <td><b>Incubating</b></td><td>{% if process.incubating %}{{ process.incubating.method }}{% endif %}</td>
                </tr>
                {%  endwith %} #}

            </table>

            <img src="./heatmap" width="400" >

        </div>

        <!-- Fixed Ligands -->
        <div class="col-lg-4">
            <h2>Fixed Ligands</h2>
            {% if collection.peptides1 %}
            <h3>Peptides</h3>
            <table id="fixed_peptides" class="table table-striped">
                <thead>
                <tr>
                    <th>sid Peptide</th>
                    <th>Linker</th>
                    <th>Spacer</th>
                    <th>Sequence</th>
                    <th>C-Terminus</th>
                    <th>Name</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for p in collection.peptides1.all() %}
                    <tr>
                        <td class="warning"> <b> {{p.sid }}</b> </td>
                        <td>{{ p.linker }}</td>
                        <td>{{ p.spacer }}</td>
                        <td>{{ p.sequence }}</td>
                        <td>{{ p.c_terminus }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if collection.viruses1 %}
            <h3>Viruses</h3>
            <table id="fixed_viruses" class="table table-striped">
                <thead>
                <tr>
                    <th>Sid</th>
                    <th>Tax Id</th>
                    <th>Subtype</th>
                    <th>Isolation Country</th>
                    <th>Collection Date</th>
                    <th>Strain</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for virus in collection.viruses1.all() %}
                    <tr>
                        {% if virus.sid == "NO" %}
                            <td class="warning"><b>{{ virus.sid }}</b></td>
                        {% else %}
                            <td class="warning"><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}"><b>{{ virus.sid }}</b></a></td>
                        {% endif %}
                        <td>{{ virus.tax_id }}</td>
                        <td>{{ virus.subtype }}</td>
                        <td>{{ virus.isolation_country }}</td>
                        <td>{{ virus.collection_date }}</td>
                        <td>{{ virus.strain }}</td>
                        <td>{{ virus.comment }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if collection.antibodies1 %}
                <h3>Antibodies</h3>
                <table id="fixed_antibodies" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sid</th>
                        <th>Target</th>
                        <th>Name</th>
                        <th>Database Link</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for antibody in collection.antibodies1.all() %}
                        <tr>
                            <td class="warning"><b>{{ antibody.sid }}</b></td>
                            <td>{{ antibody.target }}</td>
                            <td>{{ antibody.name }}</td>
                            <td>{{ antibody.link_db }}</td>
                            <td>{{ antibody.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>


        <!-- MObile Ligands -->
        <div class="col-lg-4">
            <h2>Mobile Ligands</h2>
            {% if collection.peptides2 %}
            <h3>Peptides</h3>
            <table id="mobile_peptides" class="table table-striped">
                <thead>
                <tr>
                    <th>sid Peptide</th>
                    <th>Linker</th>
                    <th>Spacer</th>
                    <th>Sequence</th>
                    <th>C-Terminus</th>
                    <th>Name</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for p in collection.peptides2.all() %}
                    <tr>
                        <td class="warning"> <b> {{p.sid }}</b> </td>
                        <td>{{ p.linker }}</td>
                        <td>{{ p.spacer }}</td>
                        <td>{{ p.sequence }}</td>
                        <td>{{ p.c_terminus }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.comment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if collection.viruses2 %}
            <h3>Viruses</h3>
            <table id="mobile_viruses" class="table table-striped">
                <thead>
                <tr>
                    <th>Sid</th>
                    <th>Tax Id</th>
                    <th>Subtype</th>
                    <th>Isolation Country</th>
                    <th>Collection Date</th>
                    <th>Strain</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% for virus in collection.viruses2.all() %}
                    <tr>
                        {% if virus.sid == "NO" %}
                            <td class="warning"><b>{{ virus.sid }}</b></td>
                        {% else %}
                            <td class="warning"><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}"><b>{{ virus.sid }}</b></a></td>
                        {% endif %}
                        <td>{{ virus.tax_id }}</td>
                        <td>{{ virus.subtype }}</td>
                        <td>{{ virus.isolation_country }}</td>
                        <td>{{ virus.collection_date }}</td>
                        <td>{{ virus.strain }}</td>
                        <td>{{ virus.comment }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if collection.antibodies2 %}
                <h3>Antibodies</h3>
                <table id="mobile_antibodies" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sid</th>
                        <th>Target</th>
                        <th>Name</th>
                        <th>Database Link</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for antibody in collection.antibodies2.all() %}
                        <tr>
                            <td class="warning"><b>{{ antibody.sid }}</b></td>
                            <td>{{ antibody.target }}</td>
                            <td>{{ antibody.name }}</td>
                            <td>{{ antibody.link_db }}</td>
                            <td>{{ antibody.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>

    <!-- Heatmap & Peptide/Virus table -->
    <div class="row">
        <div class="col-lg-12">
    {% if type == "quantified" %}
        <img src="./barplot" width="1500" >
    {% endif %}
   </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_antibodies').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_antibodies').DataTable();
        });
    </script>


{% endblock %}