{% extends "flutype/base.html" %}
{% block content %}

    <!-- status list
    <div class="btn-group inline-group toggle" role="group" >
    {% for key in ["planning", "in progress", "finished"] %}
     <form method="post" style ='float: left; padding: 5px;'>
         <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
         <input  type="hidden" name="status" value="{{ key }}">
         <input id="planning" class="btn btn-default {% if study.status == key %}active{% endif %}
        " type="submit" value="{{ key }}" />
     </form>
    {% endfor %}
    </div>
    -->

    <h1> {{ study.sid }}</h1>
    <div class="a">
        <table id="study" class="table table-striped">
            <tbody>
            <tr>
                <td><b>Task </b></td>
                <td>{{ study.task }}</td>
            </tr>

            <tr>
                <td><b>Result</b></td>
                <td>{{ study.result }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="filebox">
        <div class="box" style="overflow-y:auto;">
            <table class="table table-condensed">
                <tbody>
                {% for raw_doc in study.files.all() %}
                    <tr>
                        <td>
                            <a href="{{ raw_doc.file.url }}" target="_blank"> {{ raw_doc.sid }}</a>
                        </td>
                        <td>
                            {{ raw_doc.file.size|filesizeformat }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form id="dropzone" class="dropzone" action="{{ url('upload_file_study', args=[study.id])}}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>
    </div>

    <div class="c">
        <nav id="navbar-2" class="navbar navbar-inverse">
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li {% if type == "measurement" %}class="active" {% endif %}><a href="{{ url('study', args= [study.id]) }}">
                        <i class="fa fa-fw fa-building"></i> Measurements
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li {% if type == "ligands" %}class="active" {% endif %}><a href="{{ url('study_ligands', args= [study.id]) }}">
                        <i class="fa fa-fw fa-certificate"></i> Ligands
                        <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% if type == "measurement" %}
        <div class="tables1" style="overflow-x:auto;">
        {% include "flutype/measurements_table.html" %}
        </div>

    {% elif type == "ligands" %}

        <div class="tables1" style="overflow-x:auto;">
            {% if collections %}
            <div class="col-lg-6 img-rounded img-thumbnail">
                <!-- Fixed Antibodies -->
                {% with antibodies = antibodies1 %}
                    {% if antibodies %}
                        <h3><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies (Fixed)</h3>
                        {% with id_antibodies_table="fixed_antibodies" %}
                            {% include "flutype/antibodies_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Peptides -->
                {% with peptides = peptides1 %}
                    {% if peptides %}
                        <h3><i class="fa fa-fw fa-server"></i> Peptides (Fixed)</h3>
                        {% with id_peptides_table="fixed_peptides" %}
                            {% include "flutype/peptides_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Viruses -->
                {% with viruses = viruses1 %}
                    {% if viruses %}
                        <h3><i class="fa fa-fw fa-asterisk"></i> Viruses (Fixed)</h3>
                        {% with id_viruses_table="fixed_viruses" %}
                            {% include "flutype/viruses_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Complexes -->
                <!-- FIXME: missing -->
            </div>

            <div class="col-lg-6 img-rounded img-thumbnail">
                <!-- Fixed Antibodies -->
                {% with antibodies = antibodies2 %}
                    {% if antibodies %}
                        <h3><i class="fa fa-fw fa-hand-spock-o"></i> Antibodies (Mobile)</h3>
                        {% with id_antibodies_table="mobile_antibodies" %}
                            {% include "flutype/antibodies_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Peptides -->
                {% with peptides = peptides2 %}
                    {% if peptides %}
                        <h3><i class="fa fa-fw fa-server"></i> Peptides (Mobile)</h3>
                        {% with id_peptides_table="mobile_peptides" %}
                            {% include "flutype/peptides_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Viruses -->
                {% with viruses = viruses2 %}
                    {% if viruses %}
                        <h3><i class="fa fa-fw fa-asterisk"></i> Viruses (Mobile)</h3>
                        {% with id_viruses_table="fixed_viruses" %}
                            {% include "flutype/viruses_table.html" %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}

                <!-- Fixed Complexes -->
                <!-- FIXME: missing -->
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>
        var form = document.getElementById("dropzone");
        Dropzone.options.myDropzone = {
            init: function () {
                form.submit();
            }
        }
    </script>


    <!-- DataTables -->
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#measurements').DataTable({
                pageLength: 25,
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_antibodies').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_antibodies').DataTable();
        });
    </script>


{% endblock %}