{% import 'flutype/macros.html' as macros %}

{% if studies %}
    <table id="{{ studies_table_id}}"
            data-toggle="table"
           data-pagination="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-toolbar="#toolbar"
           data-show-export="true"
           data-search="true"
           class="table table-striped">

        <thead>
        <tr>
            <th data-field="sid" data-filter-control="input" data-sortable="true">sid</th>
            <th data-field="status" data-filter-control="select" data-sortable="true">status</th>
            <th data-field="users" data-filter-control="input" data-sortable="true">users</th>
            <th data-field="description" data-filter-control="input" data-sortable="true">description</th>
            <th data-field="measurements" data-filter-control="input" data-sortable="true">measurements</th>
            <th data-field="created" data-filter-control="datepicker"  data-filter-datepicker-options='{"autoclose":true, "clearBtn": true, "todayHighlight": true, "orientation": "top","format":"yyyy-mm-dd"}' data-sortable="true">created</th>
            <th data-field="comment" data-filter-control="input" data-sortable="true">comment</th>
        </tr>
        </thead>
        <tbody>
        {% for s in studies %}
            <tr>
                <td><b><a href="{{ url('study', args=[s.sid]) }}"> {{ s.sid }}</a></b></td>
                <td>{{ macros.status(s.status) }}</td>
                <td>{% for user in s.users() %}{{ macros.user(user) }}{% endfor %}<br />
                </td>
                <td>{{ s.description }}</td>
                <td>
                    {% for m in s.rawspotcollection_set.all() %}
                        {{ macros.measurement_type(m.measurement_type) }}
                        <a href="{{ url('rawspotcollectionview', args=[m.sid]) }}">{{ m.sid }}</a> ({{ m.comment }})<br />
                    {% endfor %}
                </td>
                <td> {{s.date.strftime('%Y-%m-%d') }}</td>
                <td> {{s.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries in database.</p>
{% endif %}