{% extends "flutype/base.html" %}
{% block content %}

    <!-- status list
    <div class="btn-group inline-group toggle" role="group" >
    {% for key in ["planning", "in progress", "finished"] %}
     <form method="post" style ='float: left; padding: 5px;'>
         <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
         <input  type="hidden" name="status" value="{{ key }}">
         <input id="planning" class="btn btn-default {% if study.status == key %}active{% endif %}
        " type="submit" value="{{ key }}" />
     </form>
    {% endfor %}
    </div>
    -->

    <h1> {{ study.sid }}</h1>
    <div class="a">
        <table id="study" class="table table-striped">
            <tbody>
            <tr>
                <td><b>Task </b></td>
                <td>{{ study.task }}</td>
            </tr>

            <tr>
                <td><b>Result</b></td>
                <td>{{ study.result }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="filebox">
        <div class="box" style="overflow-y:auto;">
            <table class="table table-condensed">
                <tbody>
                {% for raw_doc in study.files.all() %}
                    <tr>
                        <td>
                            <a href="{{ raw_doc.file.url }}" target="_blank"> {{ raw_doc.sid }}</a>
                        </td>
                        <td>
                            {{ raw_doc.file.size|filesizeformat }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form id="dropzone" class="dropzone" action="{{ url('upload_file_study', args=[study.id])}}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>
    </div>

    <div class="c">
        <nav id="navbar-2" class="navbar navbar-inverse">
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li {% if type == "measurement" %}class="active" {% endif %}><a
                            href="{{ url('study', args= [study.id]) }}"><i class="fa fa-eyedropper"></i> Measurements
                        <span
                                class="sr-only">(current)</span></a></li>
                    <li {% if type == "ligands" %}class="active" {% endif %}><a
                            href="{{ url('study_ligands', args= [study.id]) }}"><i class="fa fa-certificate"></i>
                        Ligands <span
                                class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% if type == "measurement" %}
        <div class="tables1" style="overflow-x:auto;">
        {% include "flutype/measurements_table.html" %}
        </div>

    {% elif type == "ligands" %}
        <div class="tables1" style="overflow-x:auto;">
            {% if collections %}
                <div class="row">
                    <!-- Fixed Ligands -->
                    <div class="col-lg-6 img-rounded img-thumbnail">
                        {% if peptides1 %}
                            <h3>Fixed Peptides</h3>
                            <table id="fixed_peptides" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>sid Peptide</th>
                                    <th>Linker</th>
                                    <th>Spacer</th>
                                    <th>Sequence</th>
                                    <th>C-Terminus</th>
                                    <th>Name</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in peptides1 %}
                                    <tr>
                                        <td class="warning"><b> {{ p.sid }}</b></td>
                                        <td>{{ p.linker }}</td>
                                        <td>{{ p.spacer }}</td>
                                        <td>{{ p.sequence }}</td>
                                        <td>{{ p.c_terminus }}</td>
                                        <td>{{ p.name }}</td>
                                        <td>{{ p.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if viruses1 %}
                            <h3>Fixed Viruses</h3>
                            <table id="fixed_viruses" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sid</th>
                                    <th>Tax Id</th>
                                    <th>Subtype</th>
                                    <th>Isolation Country</th>
                                    <th>Collection Date</th>
                                    <th>Strain</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for virus in viruses1 %}
                                    <tr>
                                        {% if virus.sid == "NO" %}
                                            <td class="warning"><b>{{ virus.sid }}</b></td>
                                        {% else %}
                                            <td class="warning">
                                                <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}">
                                                    <b>{{ virus.sid }}</b></a>
                                            </td>
                                        {% endif %}
                                        <td>{{ virus.tax_id }}</td>
                                        <td>{{ virus.subtype }}</td>
                                        <td>{{ virus.isolation_country }}</td>
                                        <td>{{ virus.collection_date }}</td>
                                        <td>{{ virus.strain }}</td>
                                        <td>{{ virus.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if antibodies1 %}
                            <h3>Fixed Antibodies</h3>
                            <table id="fixed_antibodies" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sid</th>
                                    <th>Target</th>
                                    <th>Name</th>
                                    <th>Database Link</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for antibody in antibodies1 %}
                                    <tr>
                                        <td class="warning"><b>{{ antibody.sid }}</b></td>
                                        <td>{{ antibody.target }}</td>
                                        <td>{{ antibody.name }}</td>
                                        <td>{{ antibody.link_db }}</td>
                                        <td>{{ antibody.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                    <!-- Mobile Ligands -->
                    <div class="col-lg-6 img-rounded img-thumbnail">
                        {% if peptides2 %}
                            <h3>Analyt: Peptides</h3>
                            <table id="mobile_peptides" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>sid Peptide</th>
                                    <th>Linker</th>
                                    <th>Spacer</th>
                                    <th>Sequence</th>
                                    <th>C-Terminus</th>
                                    <th>Name</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in peptides2 %}
                                    <tr>
                                        <td class="warning"><b> {{ p.sid }}</b></td>
                                        <td>{{ p.linker }}</td>
                                        <td>{{ p.spacer }}</td>
                                        <td>{{ p.sequence }}</td>
                                        <td>{{ p.c_terminus }}</td>
                                        <td>{{ p.name }}</td>
                                        <td>{{ p.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        {% if viruses2 %}
                            <h3>Analyt: Viruses</h3>
                            <table id="mobile_viruses" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sid</th>
                                    <th>Tax Id</th>
                                    <th>Subtype</th>
                                    <th>Isolation Country</th>
                                    <th>Collection Date</th>
                                    <th>Strain</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for virus in viruses2.all() %}
                                    <tr>
                                        {% if virus.sid == "NO" %}
                                            <td class="warning"><b>{{ virus.sid }}</b></td>
                                        {% else %}
                                            <td class="warning"><a
                                                    href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}">
                                                <b>{{ virus.sid }}</b></a>
                                            </td>
                                        {% endif %}
                                        <td>{{ virus.tax_id }}</td>
                                        <td>{{ virus.subtype }}</td>
                                        <td>{{ virus.isolation_country }}</td>
                                        <td>{{ virus.collection_date }}</td>
                                        <td>{{ virus.strain }}</td>
                                        <td>{{ virus.comment }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        {% if antibodies2.all() %}
                            <h3> Analyt: Antibodies</h3>
                            <table id="mobile_antibodies" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Sid</th>
                                    <th>Target</th>
                                    <th>Name</th>
                                    <th>Database Link</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for antibody in antibodies2.all() %}
                                    <tr>
                                        <td class="warning"><b>{{ antibody.sid }}</b></td>
                                        <td>{{ antibody.target }}</td>
                                        <td>{{ antibody.name }}</td>
                                        <td>{{ antibody.link_db }}</td>
                                        <td>{{ antibody.comment }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p>No entries in database.</p>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block javascript %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#study').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#measurements').DataTable({
                pageLength: 25,

            });
        });
    </script>

    <script>
        var form = document.getElementById("dropzone");
        Dropzone.options.myDropzone = {
            init: function () {
                form.submit();
            }
        }
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_peptides').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_viruses').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#fixed_antibodies').DataTable();
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#mobile_antibodies').DataTable();
        });
    </script>


{% endblock %}