{% import 'flutype/macros.html' as macros %}

{% if studies %}
    <table id="{{ studies_table_id}}"
           data-toggle="table"
           data-pagination="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-advanced-search="true"
           data-search="true"
           class="table table-striped">

        <thead>
        <tr>
            <th data-formatter="sidFormatter" data-field="sid" data-sortable="true">sid</th>
            <th data-field="status" data-sortable="true">status</th>
            <th data-field="user" data-sortable="true">user</th>
            <th data-field="users" data-sortable="true">users in process of measurements</th>
            <th data-field="description" data-sortable="true">description</th>
            <th data-field="measurements" data-sortable="true">measurements</th>
            <th data-field="created"  data-sortable="true">created</th>
            <th data-field="comment" data-sortable="true">comment</th>
        </tr>
        </thead>
        <tbody>
        {% for s in studies %}
            <tr>
                <td><a href="{{ url("study", args=[s.sid]) }}"> {{ s.sid }} </a>
                    {% if request.user.has_perm('change_study', s) %}
                        <a title="edit Study" href="{{ url('edit', args=[s.__class__.__name__, s.sid]) }}"><i  class="fa fa-fw fa-edit text-warning"></i></a>
                        <a title="delete Study" href="{{ url('delete', args=[s.__class__.__name__, s.sid]) }}"><i  class="fa fa-fw fa-trash text-danger"></i></a>
                    {% endif %}
                </td>
                <td>{{ macros.status(s.status) }}</td>
                <td> {{ macros.user(s.user) }}</td>
                <td>{% for user in s.users() %}{{ macros.user(user) }}{% endfor %}<br />
                </td>
                <td>{{ s.description }}</td>
                <td>
                    {% for m in s.rawspotcollection_set.all() %}
                        {{ macros.measurement_type(m.measurement_type) }}
                        <a href="{{ url('rawspotcollectionview', args=[m.sid]) }}">{{ m.sid }}</a> ({{ m.comment }})<br />
                    {% endfor %}
                </td>
                <td> {{s.date.strftime('%Y-%m-%d') }}</td>
                <td> {{s.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries in database.</p>
{% endif %}
{% block javascript %}
    <script>
     function sidFormatter(value) {
         var url = "{{ url("study", args=[value]) }}";
    return '<b>'+value+'</b>';
}
    </script>

{% endblock %}
