{% extends "flutype/base.html" %}
{% block content %}
    <!-- LIST OF RAWSPOTCOLLECTION -->
    <div class="row">
        <div class="col-lg-12">

            <h1> Study: {{study.sid}}</h1>
            <div class="row">
                <table id="study" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Task </b></td>
                            <td>{{ study.task }}</td>
                        </tr>

                        <tr>
                            <td><b>Result</b></td>
                            <td>{{ study.result }}</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>

                                <form method="post" class="post-form">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    {{ form.status }}
                                   <button class="btn btn-default">Save</button>
                                </form>
                            </td>

                        </tr>

                        <tr>
                            <td><b>Raw Docs</b></td>
                            <td>
                                {%for raw_doc in study.files.all() %}
                                <a href="{{ raw_doc.file.url }}" target="_blank"> {{ raw_doc.sid}}</a>
                                {%endfor%}
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>




            {% if collections %}
                <table id="collections" class="table table-striped">
                    <caption>Raw Spot Collections</caption>
                    <thead>
                    <tr>
                        <th>Sid</th>
                        <th>Batch</th>
                        <th>Measurement Type</th>
                        <th>Functionalization</th>
                        <th>Manufacturer</th>
                        <th>Image</th>
                        <th>Results</th>
                        <th>Virus</th>
                        <th>Gal Mobile</th>
                        <th>Gal Fixed</th>
                        <th>Process</th>
                        <th>Process Users</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in collections %}
                        <img>
                            <td class="warning">
                                <b><a href="{{ url('rawspotcollectionview', args=[c.id]) }}"> {{ c.sid }}</a></b>
                            <td>{{ c.batch_sid }}</td>
                            <td>{% if c.measurement_type == "microwell" %}
                                    <i class="fa fa-building-o"></i>&nbsp;
                                {% elif c.measurement_type == "microarray" %}
                                    <i class="fa fa-building"></i>&nbsp;
                                {% elif c.measurement_type == "elisa" %}
                                    <i class="fa fa-building-o"></i>&nbsp;
                                {% endif %}
                                {{ c.measurement_type }}</td>
                            <td>{{ c.functionalization}}</td>
                            <td>{{ c.manufacturer }}</td>
                            <td>
                                {% if c.is_picture_in_rsc %}
                                    {% with prosteps = c.processstep_set.all() %}
                                        {% for prostep in prosteps %}
                                            {% if  prostep.image %}
                                                     <a alt="{{  prostep.image }}" href="{{  prostep.image.url }}" target="blank">
                                                        <i class="fa fa-file-image-o"></i>
                                                     </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                {% else %}
                                                <i class="fa fa-ban fa-stack text-danger"></i>
                                {%  endif %}
                            </td>

                            <td>{% if c.is_spot_collection() %}
                                     <i class="fa fa-check-square-o" style="color:green" aria-hidden="true"></i>

                                    {% for s in c.spotcollection_set.all() %}
                                     <a href="{{ url('qspotcollectionview', args=[s.id]) }}"
                                        target="_blank">{{ s.sid }}</a>
                                     {% endfor %}

                                {% else %}
                                    <i class="fa fa-ban text-danger"></i>
                                {%  endif %}</td>
                            <td>
                                {%  for virus in c.viruses2.all()%}
                                    {% if virus.strain %}
                                    {{ virus.strain}}
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            <td><a href="{{ c.lig_mob.file.url }}" target="_blank">
                                    {{ c.lig_mob.sid }}</a></td>
                            <td><a href="{{ c.lig_fix.file.url }}" target="_blank">
                                    {{ c.lig_fix.sid }}</a></td>
                            <!-- process -->
                            <td>
                                <a href="{{ url('processview', args=[c.process.id]) }}"> {{ c.process.sid }}</a>
                                <br />
                                {{ c.process.name }}
                            </td>
                            <!-- user -->
                            {% if c.process.users() %}
                                <td>
                                 {% for user in c.process.users() %}
                                {{ user.first_name }} {{ user.last_name }}
                                {% endfor %}
                                </td>
                                {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#experiment').DataTable({
                searching: false,
                paging: false,
                info: false,
                "order": []
            });
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#collections').DataTable({
                pageLength: 25,
            });
        });
    </script>
{% endblock %}