{% import 'flutype/macros.html' as macros %}

{% extends "flutype/base.html" %}
{% block content %}
    <div class="standard">

        <h1><i class="fa fa-fw fa-braille"></i>
            {% if type == "my" %}My{% endif %}
            Studies
            {% if type == "my" %}(<i class="fa fa-fw fa-user"></i> {{ request.user }}){% endif %}
        </h1>
        {% with studies_table_id="studies" %}
        {% include "flutype/studies_table.html" %}
        {% endwith %}

    </div>

{% endblock %}

{% block javascript %}


{% endblock %}




