{% extends "flutype/base.html" %}
{% block content %}
    <!-- LIST OF USERS -->
        <div class="standard">
            <h1><i class="fa fa-fw fa-group"></i> Users</h1>
            {% if users %}
            <table id="users" class="table table-striped">
                <thead>
                <tr>
                    <th>username</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                </tr>
                </thead>
                <tbody>
                {% for u in users %}
                    <tr>
                        <td><b>{{ u.username }}</b></td>
                        <td>{{ u.first_name }}</td>
                        <td>{{ u.last_name }}</td>
                        <td><a href="mailto:{{ u.email }}">{{ u.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#users').DataTable();
        });
    </script>
{% endblock %}