{% extends "flutype/base.html" %}
{% block content %}
    <!-- LIST OF Virsuses -->
    <div class="standard">
            <div class="pull-right">
                <a href="{{ url('virus_new') }}" class="top-menu"><span
                        class="fa fa-plus-circle fa-4x text-success"></span></a>
            </div>
            {% if type == "fixed" %}
                <h1>Fixed Viruses</h1>
            {% elif type == "mobile" %}
                <h1>Mobile Viruses</h1>
            {% else %}
                <h1>Viruses</h1>
            {% endif %}
            {% if viruses %}

                <table id="viruses" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Sid</th>
                        <th>Tax Id</th>
                        <th>Subtype</th>
                        <th>Isolation Country</th>
                        <th>Collection Date</th>
                        <th>Strain</th>
                        <th>Comment</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for virus in viruses %}
                        <tr>
                            {% if virus.sid == "NO" %}
                                <td class="warning"><b>{{ virus.sid }}</b></td>
                            {% else %}
                                <td class="warning" id="virus">
                                    <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.sid }}">
                                    <b>{{ virus.sid }}</b></a>
                                </td>
                            {% endif %}
                            <td>{{ virus.tax_id }}</td>
                            <td>{{ virus.subtype }}</td>
                            <td>{{ virus.isolation_country }}</td>
                            <td>{{ virus.collection_date }}</td>
                            <td>{{ virus.strain }}</td>
                            <td>{{ virus.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#viruses').DataTable();
        });
    </script>
{% endblock %}