{% if viruses %}
    <table id="{{ id_viruses_table }}"
            data-toggle="table"
            data-pagination="true"
            data-search="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-toolbar="#toolbar"
            class="table table-striped">
        <thead>
        <tr>
            {% if request.user.is_superuser %}<th></th>{% endif %}
            <th  data-sortable="true">sid</th>
            <th  data-sortable="true" title="taxonomy id">taxonomy</th>
            <th  data-sortable="true">subtype</th>
            <th  data-sortable="true" title="isolation country">country</th>
            <th  data-sortable="true">collected</th>
            <th  data-sortable="true">strain</th>
            <th  data-sortable="true">comment</th>
            {% if request.user.is_superuser %}<th></th>{% endif %}

        </tr>
        </thead>
        <tbody>
        {% for virus in viruses %}
            <tr>
                {% if request.user.is_superuser %}<td>
                    <a href="{{ url('virus_edit', args=[virus.sid]) }}"><i class="fa fa-fw fa-edit"></i></a>
                </td>{% endif %}
                <td><b>{{ virus.sid }}</b></td>
                <td>
                {% if virus.tax_id == "NO" %}
                    {{ virus.tax_id }}
                {% else %}
                    <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ virus.tax_id }}">{{ virus.tax_id }}</a>
                {% endif %}
                </td>
                <td>{{ virus.subtype }}</td>
                <td>{{ virus.isolation_country }}</td>
                <td>{{ virus.collection_date }}</td>
                <td>{{ virus.strain }}</td>
                <td>{{ virus.comment }}</td>
                {% if request.user.is_superuser %}<td class="alert-danger">
                    <a href="{{ url('virus_delete', args=[virus.sid]) }}"><i class="fa fa-fw fa-trash"></i></a>
                 </td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No entries in database.</p>
{% endif %}