{% extends "flutype/base.html" %}
{% block content %}
    <!-- LIST OF RAWSPOTCOLLECTION -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Virus Batches</h1>
            <table id="peptide_batches" class="table table-striped">
                <thead>
                <tr>
                    <th>sid Virus Batch</th>
                    <th>sid Virus</th>
                    <th>Subgroup</th>
                    <th>Country</th>
                    <th>Date of Appearance</th>
                    <th>Strain</th>
                    <th>Passage History</th>
                    <th>Active</th>
                    <th>Labeling</th>
                    <th>Concentration</th>
                    <th>Buffer</th>
                    <th>pH</th>
                    <th>Purity</th>
                    <th>Produced by</th>
                    <th>Production Date</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                {% if virus_batches %}

                {% for virusbatch in virus_batches %}
                    <tr>
                        <td class="warning">
                            <b>{{ virusbatch.sid|default_if_none:"" }}</b>
                        </td>
                        <!-- virus information -->
                        <td class="danger">
                            {{ virusbatch.virus.sid|default_if_none:"" }}
                        </td>
                        <td class="danger">
                            {{ virusbatch.virus.subgroup|default_if_none:"" }}
                        </td>
                        <td class="danger">
                            {{ virusbatch.virus.country|default_if_none:"" }}
                        </td>
                        <td class="danger">
                            {{ virusbatch.virus.date_of_appearance|default_if_none:"" }}
                        </td>
                        <td class="danger">
                            {{ virusbatch.virus.strain|default_if_none:"" }}
                        </td>
                        <!-- virus batch information -->
                        <td>
                            {{ virusbatch.passage_history|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.active|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.labeling|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.concentration|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.buffer|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.ph|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.purity|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.produced_by|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.production_date|default_if_none:"" }}
                        </td>
                        <td>
                            {{ virusbatch.comment|default_if_none:"" }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}
                <p>No entries in database.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#peptide_batches').DataTable();
        });
    </script>
{% endblock %}