{% extends "flutype/base.html" %}
{% block content %}

    <div class="standard">

        <h1><i class="fa f-fw fa-asterisk"></i> Viruses
        {% if type == "fixed" %}
            (Fixed)
        {% elif type == "mobile" %}
            (Mobile)
        {% endif %}
        <a href="{{ url('new', args=["Virus"]) }}" class="btn btn-default" title="Add new virus">
        <span class="fa fa-plus-circle fa-3x text-success"></span></a>
        </h1>

        {% with id_viruses_table = "viruses" %}
            {% include "flutype/viruses_table.html" %}
        {% endwith %}

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#viruses').bootstrapTable();
        });
    </script>
{% endblock %}