.idea/
*.pyc

migrations/

# cache
flutype/__pycache__/
flutype_webapp/__pycache__/
flutype_webapp/migrations/__pycache__/
media/CACHE/

# not tracking media 
media

# deploy settings and static data
flutype_webapp/deploy_settings.py
dbdata/
/static/

# tests & phantomjs
ghostdriver.log
node_modules/
htmlcov/
.coverage
master
master_test
master_2018_03_02
master_2018_03_21
master_neu
master_uncomplete
