# Created by .ignore support plugin (hsz.mobi)
.idea/
migrations/
*.pyc
flutype/__pycache__/
flutype_webapp/__pycache__/
flutype_webapp/migrations/__pycache__/
/static/
flutype_webapp/deploy_settings.py
dbdata/
# tests & phantomjs
ghostdriver.log
node_modules/
media/CACHE/
htmlcov/

