pyexcel
pyexcel-ods

opencv-python
Pillow == 4.1.1
gunicorn
psycopg2
jinja2
matplotlib
selenium==2.53.6

django>=1.11.3
django-pandas
django-choices
django-debug-toolbar
django-model-utils
django-polymorphic
django-imagekit
djangorestframework
django-crispy-forms



