django<2.0
django-pandas>=0.5.1
django-choices>=1.6.0

django-model-utils>=3.0.0
django-polymorphic<2.0
django-imagekit>=4.0.1
django-measurement>=2.4.0
djangorestframework>=3.8.2
django-debug-toolbar>=1.9.1
django-dbbackup>=3.2.0
django-guardian>=1.4.9
psycopg2>=2.7.4
jinja2>=2.10
gunicorn>=19.7.1

matplotlib>=2.2.2
plotly>=2.5.1
pathlib>=1.0.1
willow>=1.1

pyexcel>=0.5.8
pyexcel-ods>=0.5.2
opencv-python>=3.3.0.12

Pillow==4.1.1

# testing
selenium==2.53.6
python-coveralls>=2.9.1
