.initiallyHidden { display: none; }
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-right: 10px;
}

.margin-bottum {margin-bottom: 10px}

.microwell-plate {
    width : 100% ;
    height: 320px;
    overflow: hidden ;
}




.handsontable th { background: #dcdcdc !important; }

#process{
    min-height:80px;
}

.step1{
    background-color: #c47196;
}
.step2{
    background-color: #c3c471;
}
.step3{
    background-color: #76c471;
}

.step4 {
    background-color: #7ca8cf
;
}

.step5 {
    background-color: #c49c71;
}

.multi-collapse{
    height: 1000px;
    width: 1200px;
}