.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.middle {

    vertical-align:middle;
    text-align:center;}

.background_gray {
    background-color: #0c0c0c;

}
