.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.middle {

    vertical-align:middle;
    text-align:center;}

.background_gray {
    background-color: #0c0c0c;

}
.dropdown-menu {
	min-width: 200px;


}
.dropdown-menu li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}

.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Basic CSS Styling */

body {
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin: 10px 0 0 0;
}

canvas {
  margin: 10px 0;
}

.filters button {
  margin: 10px 0;
}

input[type="range"] {
  margin: 0 0 10px 0;
}

.p {
  padding-top: 50px;
  clear: both;
}
.imageMask{
         background-color: #131212;
         opacity:1;
         position: absolute !important;
         left: 85px;
         top: 66px;
         width: 60px;
         height: 60px;
         }
         .imageMask:hover{
         cursor:move;
         }
         #photoContainer{
         width: 299px;
         }
         .blur{
         -webkit-filter: blur(3px);
		 filter: blur(3px);
         opacity:1;
         cursor:default!important;
         }
         .ui-resizable { position: relative;}
         .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
         .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
         .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
         .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
         .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
         .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
         .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
         .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
         .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
         .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

.ul {
    text-align: left;
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}